[2015-02-06 13:15] egamma opened #5 "Support requests in the JSON format"
Currently requests are a simple string and the responses use JSON. It should be supported to make the request using JSON as well and to correlate the request with a response. Each request should have a response.

[2015-02-06 13:15] egamma opened #6 "Support requests in the JSON format"
Currently requests are a simple string and the responses use JSON. It should be supported to make the request using JSON as well and to correlate the request with a response. Each request should have a response.

[2015-02-06 13:16] #6 closed, assigned to steveluc

[2015-02-06 13:18] egamma opened #7 "Service should not exit in the case of exceptions"
Currently the service dies and exits when there is an exception. The service should try to recover and log the exception.

[2015-02-09 09:27] #7 closed, assigned to steveluc

[2015-02-12 20:06] #5 closed, assigned to steveluc

[2015-02-13 11:53] dbaeumer opened #12 "'quickInfo' request should return symbol display parts as completion does"
That would allow for a nice formatting in the UI and makes the overall API more consistence.

[2015-02-17 17:54] fionafung opened #13 "On Sublime Text 2 PC, we get a dialog that the language service is taking longer than usual"
1. On a PC with SublimeText 2 installed, install the TypeScript plugin
2. Ping FionaF for her repro project
3. Open up cat.ts in Sublime
4. Open up dog.ts in Sublime

You will see the dialog below.  After you dismiss the dialog, the language service does work.

![pluginmessage](https://cloud.githubusercontent.com/assets/10522330/6233873/fc76fe98-b68a-11e4-9723-4c33c8a4bd38.png)

[2015-02-17 18:51] hinzo opened #14 "After removing the reference I still can refer to the methods inside the removed reference"
repro:

create two files:

ref.ts, contains:
function myAdd(a, b) {
    return a + b;
}

test.ts, contains:
/// < reference path="ref.ts" / >

myAdd(1, 2);

Now remove the /// < refern.. line
remove myAdd(1, 2)
try to type myAdd and you get completions on it even if the ref.ts file is closed in the editor

[2015-02-17 19:55] hinzo opened #15 "non fatal error message when loading the plugin"
In the output window, we are getting module not found error for jsonhelpers.

Seems like sublime is loading all the py files in the current folder. The solution would be to move the library files to a sub folder.

[Found by AlecG]

[2015-02-17 19:58] hinzo opened #16 "Plugin doesn't work on Sublime portable version"
AlecG used the portable version of sublime instead of the msi.  The plugin doesn't work in this scenario.

[2015-02-17 21:01] hinzo opened #17 "Error string is not shown if the class doesn't implement the methods for the interface"
[found by Will Anderson]

interface ITest {
    foo(): number;
}

class Sub implements ITest {
    constructor() {
    }
}

Sub will show a squiggly but when clicked on it the error doesn't show up in the status bar.  The output window show this exception:

{"command": "quickinfo", "type": "request", "arguments": {"line": 7, "col": 9, "file": "E:\tls\samples\test.ts"}, "seq": 1970}
Traceback (most

[2015-02-17 21:49] hinzo opened #18 "The language service still references a file although it got deleted from disk"
In ref.ts have some class

in test.ts have some class that extends the class in ref.ts

close ref.ts from the editor.

Delete (or rename) ref.ts in the file system.

type anything in test.ts and the reference tag at the top doesn't show as error.  You can even still reference the members in the parent class.

Expected, it should show few errors in test.ts since ref.ts was gone.

[2015-02-17 21:52] hinzo opened #19 "<tab> is being swollen in the editor"
Users cannot press the tab key. It doesn't do anything in the editor.

Using Sublime 3 & 2

[2015-02-19 21:54] fionafung opened #20 "There are two copies of tsserver.js, we need to remove the one from the root"

[2015-02-19 23:37] fionafung opened #21 "Syntax colorization of a "name" property and an "add" method treats both as a keyword"
Build - Pulled from TypeScript-Service Master branch at 2/19, 3:00pm
Platform - Sublime Text 3 on PC

Repro, create a class with a public property called "name" which is a string.  Then access the property, you will see that name is colored "blue" as if it was a keyword.

![namerepro](https://cloud.githubusercontent.com/assets/10522330/6278622/29e893b4-b84d-11e4-9dfa-a6c3a28349e9.png)

[2015-02-19 23:46] fionafung opened #22 "Have file A ///ref file B, and make use of a class defined in file B. In file A, a rename on the class will not cause a rename in file B, resulting in a syntax error"
Build - Pulled from TypeScript-Service Master branch at 2/19, 3:00pm
Platform - Sublime Text 3 on PC

See attached for repro project (rename from .png to .zip to unzip my project)

I have two files, cat.ts that defined "Cat" class, and dog.ts that ///ref cat.ts, and creates multiple "Cat" objects.  In dog.ts, go to a "Cat" and do a rename to "AwesomeCat".  Notice that only "Cat"s in dog.ts gets re

[2015-02-20 00:04] fionafung opened #23 "Rename causes an extra "ghost" class rename to show up"
Build - Pulled from TypeScript-Service Master branch at 2/19, 3:00pm
 Platform - Sublime Text 3 on PC

See attached for repro project (rename from .png to .zip to unzip my project)

I have a file "dog.ts" that defines a class "Dog".  I have a file called "cat.ts" that does not ///ref "dog.ts", yet it tries to create a "Dog" object (which rightfully results in a squiggle.  In my "dog.ts" class, I t

[2015-02-20 00:25] mopsled opened #24 "Auto-formatting causes huge lag in ST3 with new files"
## Reproduction steps
- Open a new file in Sublime Text 3
- Save the file as "test.ts"
- Type this:

[code]
- Type `;` (semicolon)
## Expected result

A semicolon appears instantly.
## Actual result

Long (2-5 second) period of time where ST3 appears frozen and doesn't respond to keypresses. Semicolon (and all other keys pressed) appear after lag.
### Details
- Sublime Text 3 Build 3065
- TypeScri

[2015-02-20 00:30] mopsled opened #25 "Open-bracket + Enter doesn't indent"
## Reproduction steps
- Open a new file in Sublime Text 3
- Save the file as "test.ts"
- Type this:

[code]
- Hit the `<ENTER>` key
## Expected result

[code]
## Actual result

[code]
### Details
- Sublime Text 3 Build 3065
- TypeScript plugin distributed February 17
- Windows 8.1

[2015-02-20 01:07] fionafung opened #26 "Syntax coloring for optional interface methods treats them as if they were properties"
Take a look at TypeScript compiler src\compiler\sys.ts, watchFile? and gteMemoryUsage? are option methods on the "System" interface but they are colored as if they were properties.

![colorizationbug](https://cloud.githubusercontent.com/assets/10522330/6279688/c01da8f4-b859-11e4-885b-f28b093a8933.png)

[2015-02-20 18:48] #17 closed, assigned to nobody

[2015-02-20 18:55] #21 closed, assigned to steveluc

[2015-02-20 18:56] #20 closed, assigned to steveluc

[2015-02-20 19:07] #26 closed, assigned to nobody

[2015-02-21 04:05] #25 closed, assigned to nobody

[2015-02-21 04:18] #16 closed, assigned to nobody

[2015-02-22 09:12] #23 closed, assigned to steveluc

[2015-02-22 09:13] #22 closed, assigned to steveluc

[2015-02-23 01:03] #24 closed, assigned to steveluc

[2015-02-23 07:35] #18 closed, assigned to steveluc

[2015-02-23 20:32] fionafung opened #27 "On a file that doesn't reference another file that defines a class, use of that class does not result in an error"
Sunk to Master as of 02/23/2015, 12:00pm.

I have my file cat.ts which does not reference dog.ts.  dog.ts defines the class "Dog".  In cat.ts, I'm trying to create a "Dog" class - I should get an error that "Dog" isn't defined (at least I used to).  Now I don't get the undefined error

![refbug](https://cloud.githubusercontent.com/assets/10522330/6336511/f6385802-bb57-11e4-97e7-813708b2c9b4.png)

[2015-02-23 23:26] #15 closed, assigned to hinzo

[2015-02-24 06:43] JsonFreeman opened #28 "Broken pipe error after installing on Sublime 3 on Mac"
I've just installed the plugin on the mac by cloning this repo into the Packages folder. I opened checker.ts, and colorization and completion are working, but nothing else is.

When I open the console, I keep seeing the quickinfo command coming through, but it results in a broken pipe error:

[code]

And when I make an edit, I get:

[code]

[2015-02-24 07:01] #14 closed, assigned to mhegazy

[2015-02-24 18:58] JsonFreeman opened #29 "GoToType doesn't seem to do anything"
[code]

I would expect GoToType on `s` to take me to the definition of `I`, but it doesn't seem to do anything.

[2015-02-24 18:58] JsonFreeman opened #30 "SaveTmp doesn't seem to do anything"
Not sure what SaveTmp is supposed to do, but it does not save the file.

[2015-02-24 19:00] JsonFreeman opened #31 "Brace completion does not correctly handle overtyping"
if I type

[code]

It completes to

[code]

by inserting the close brace.

However, if I now type the close brace myself, it inserts another one, rather than overtyping the inserted one.

[code]

[2015-02-24 19:03] JsonFreeman opened #32 "Implement signature help"
If I have

[code]

It is very helpful to see the signatures of foo. Though I'm not sure whether it is better to use the completion list UI or the status bar.

[2015-02-24 19:30] #29 closed, assigned to nobody

[2015-02-24 19:31] #30 closed, assigned to nobody

[2015-02-24 19:32] #28 closed, assigned to nobody

[2015-02-24 19:42] mbraude opened #33 "Navigation to a reference via find all references doesn't work"
Steps to reproduce (Sublime Text 3):

1) Add bpt\diagnostics\common to your project.
2) Open control.ts.
3) Go to line 33, put the cursor on "oldRoot" and press ctrl + t, r.
4) In the references list that opens, try clicking on any references.

Expected: Sublime navigates to the line you clicked on.
Actual: Nothing happens.

[2015-02-24 21:50] #33 closed, assigned to hinzo

[2015-02-24 22:22] JsonFreeman opened #34 "Error takes a very long time to appear"
Open checker.ts, and navigate to the line

[code]

Change it to the following:

[code]

This new code is wrong, but it takes a very long time (at least 20 seconds) for an error to appear.

Then remove the extra argument, and the error also lingers for a very long time.

[2015-02-24 22:49] mbraude opened #35 "Plugin should be able to figure out if a file is an AMD module"
Make a new file and paste this into sublime text 3:

import blah = require("blah");

export class Foo {
}

You will see red squigglies under the import statement with the error "Cannot compile external modules unless the '--module' flag is provided.
- How do I provide the --module flag?
- It seems like the language service understands this is a module, because if I remove the import line I get a s

[2015-02-24 22:51] #31 closed, assigned to hinzo

[2015-02-24 22:51] mbraude opened #36 "Squigglies only appear on first export violation"
Make a new file in sublime text 3 and paste this into the editor:

export class Foo {
}

export class Bar extends Foo {
}

You will see a squiggly under Foo because we are exporting a class in a non-module. However, you will not see a squiggly under Bar.

Expected: Squigglies under both Foo and Bar.

[2015-02-24 22:52] DanielRosenwasser opened #37 "F12 go-to-definition is broken"
~~Go-to-def is `Ctrl+T`,`Ctrl+D`. Go to declaration doesn't even have a well-defined concept in our language. Let's just make the two equivalent.~~

Never mind, it seems that the keybinding _is_ go-to-defintion, but it is not working correctly.

From `parser.ts`

[code]

If you try F12 on `Node`, it will only work if `types.ts` is open.

If you try F12 on `nodeConstructors`, `kind`, `SyntaxKind`,

[2015-02-24 23:09] DanielRosenwasser opened #38 "Sublime double clicking has been broken"
Sublime supports full word selection upon double clicking. As of today, some change seems to have broken this behavior across all file types.

[2015-02-24 23:47] DanielRosenwasser opened #39 "Support occurrences highlighting"
When the cursor resides on a word, it would be helpful to populate appropriate regions.

Looks like [`add_regions`](https://www.sublimetext.com/docs/3/api_reference.html#sublime.View) might be the relevant API, with `sublime.DRAW_NO_FILL` for now.

Consider the Roslyn timeouts:
- 1.5 seconds after edits
- 50 milliseconds for non-destructive events (i.e. arrow keys, clicks)

[2015-02-25 00:14] mbraude opened #40 "Pressing F12 on a symbol takes you to the Javascript, not the TypeScript"
Pressing F12 on a symbol, when there is a .ts and a .js file, takes you to the js instead of the ts.

Expected: Go to definition takes me to the typescript file, just as if I pressed ctrl + t, ctrl + d.
Actual: It takes me to the .js file.

[2015-02-25 00:33] mbraude opened #41 "Display function arguments after autocomplete"
The auto-complete is fantastic, but the one major thing missing is help filling in arguments. Right now, after I press enter to insert a function name, I immediate go to definition on the function to see its arguments. Then I go back and try to fill them in. And this gets tedious if the argument is a complex type with lots of constructor arguments.

It would be really great if you could display th

[2015-02-25 01:26] DanielRosenwasser opened #42 "Ctrl+R is not documented in Ctrl+Shift+P"
Hit `Ctrl+Shift+P`; `Ctrl+R` is not actually documented, which is useful even though it is a Sublime shortcut override.

[2015-02-25 02:18] JsonFreeman opened #43 "Getting the wrong error on a declaration in the wrong context"
[code]

The compiler gives the error:
"Expression expected"

Sublime gives the error:
"Declaration or statement expected"

[2015-02-25 02:27] JsonFreeman opened #44 "An error at the EOF has no span"
[code]

This gives the correct error ("Type expected"), but has no span if it is at the end of the file. In cases like these, VS uses the last character of the file as the span. That way the user sees that there is an error.

[2015-02-25 02:30] roblourens opened #45 ""Cannot find name" error name is jumbled with actual text"
I've only managed to repro this on a F12 code file. I put it up at \bptfs1\public\roblou\tsss\selfTestPageUI.ts. There are lots of errors here for missing things but it also reproes in the actual source directory.

Find onKeyDown, highlight Event, type KeyboardEvent. I get something different every time depending on whether I type the full string myself or use autocomplete.

This is ST3 on PC.

![

[2015-02-25 02:36] #40 closed, assigned to nobody

[2015-02-25 02:36] #37 closed, assigned to nobody

[2015-02-25 03:24] #36 closed, assigned to nobody

[2015-02-25 03:25] #35 closed, assigned to nobody

[2015-02-25 04:24] DanielRosenwasser opened #46 "Template strings not highlighted"
This one might be a bit of a stretch goal.

[code]

The following should be colorized appropriately:
- ``[Red ${`
- `}, Green: ${`
- `}, Blue: ${`
- `}]``

For resources relating to template strings, see:
- [The ES6 Draft section on its lexical components](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-template-literal-lexical-components)
- Me :smile:

[2015-02-25 09:10] #32 closed, assigned to nobody

[2015-02-25 09:21] #42 closed, assigned to nobody

[2015-02-25 11:49] dbaeumer opened #47 "quickinfo request results in exception if executed on a /// <reference>"
- TS Mankala example
- open Position.ts
- hover over "Games.ts" on line 2

The service ends in an exception:

Err 49    Exception on executing command {"seq":108,"type":"request","command":"quickinfo","arguments":{"file":"P:/Playgrounds/sample-mankala/Position.ts","line":2,"col":24}}:
No Content.
Error: No Content.
    at Errors (P:\BPT_Projects\Monaco\client\vs\languages\typescript\service\lib\ts

[2015-02-25 16:14] dbaeumer opened #48 "protocol.d.ts should define constants for kind and kindModifiers"
The current documentation list examples, but without a definition clients can't know about the set of valid kinds and kindModifiers.

[2015-02-25 17:11] #45 closed, assigned to steveluc

[2015-02-25 18:19] priydes opened #49 "Slow plugin warning"
Opened bpt\diagnostics folder in Sublime Text 2 and was randomly clicking around in the files pane to open different files, when I saw this warning within first 10 seconds.

Unfortunately I don't have clear repro steps. I will update if I am to do it deterministically.

![capture](https://cloud.githubusercontent.com/assets/10999184/6377241/b8e1cade-bcd7-11e4-9e44-5d8e94e12353.PNG)

[2015-02-25 18:43] #43 closed, assigned to steveluc

[2015-02-25 18:56] JsonFreeman opened #50 "Stale errors (both spans and messages)"
Type the following:

[code]

As expected, you get an error on C: "Cannot find name C".

Now insert the word "static" before "C".

Expected: New error "Declaration or statement expected" on the word "static".
Actual: Status bar still shows old message with old span.

[2015-02-25 19:14] JsonFreeman opened #51 "No format/indent on paste"
[code]

Copy the last line to the clipboard, and paste it inside the if block.

Expected: var statement gets indented
Actual: does not get indented

VS has this functionality.

[2015-02-25 19:31] yuit opened #52 "Vintage Mode: Preserve user insert mode and non-insert mode"
Enabling vintage mode. Then inside non-insert mode - press enter to select references. When jumping to the location, the mode is then switched to insert

[2015-02-25 19:52] #47 closed, assigned to nobody

[2015-02-25 21:26] JsonFreeman opened #53 "Toggle comment does not work for TypeScript"
In the edit menu, there is a toggle comment command, but it does not do anything. I would expect it to put `//` before all the lines in my selection. There is toggle block comment as well.

[2015-02-25 21:42] JsonFreeman opened #54 "Angle brackets in a generic type of a computed property are colored wrong"
[code]

The angle brackets around the V after values are colored a certain way to indicate type arguments, but the coloring around [K,V] are not the same color.

[2015-02-25 21:47] DanielRosenwasser opened #55 "Colorization of unterminated regexes should be limited to one line"
![image](https://cloud.githubusercontent.com/assets/972891/6381266/a778c956-bcf4-11e4-8112-625c795a4e03.png)

[2015-02-25 22:11] roblourens opened #56 "Page up/down in intellisense menu"
I keep expecting page up/down to work in the intellisense menu because it can be very long. Instead it closes the menu and does page up/down on the document. This would just be nice to have.

[2015-02-26 00:20] #38 closed, assigned to nobody

[2015-02-26 01:16] roblourens opened #57 "A slash in square brackets in a regex breaks syntax coloring"
`/[/']{2}/.test("/'")`

You don't have to escape a slash in square brackets, but things are colored as if that slash was the end of the regex, and the `'` was the start of a string. VS handles this.

[2015-02-26 08:05] #19 closed, assigned to hinzo

[2015-02-26 17:13] #57 closed, assigned to steveluc

[2015-02-26 18:49] #51 closed, assigned to steveluc

[2015-02-26 20:49] roblourens opened #58 "Variables with a name starting with "function" are colored wrong"
`var functionName = "hello world";`

`function` is blue, `Name` is white.

[2015-02-26 22:32] #55 closed, assigned to steveluc

[2015-02-26 23:33] mbraude opened #59 "Find all references highlights all instances of symbol text"
Find all references should only highlight the symbol, not all instances of the symbol text.

Steps to reproduce:
1. Copy this text into a new .ts file:

class Foo {
    public method(method: any) {
    }

[code]

}
1. Put the cursor on 'method' and press ctrl +t, ctrl + r.

Expected: There is a reference to the method declaration, and the symbol 'method' is underlined.
Actual: All instances of the

[2015-02-27 01:08] richardhuaaa opened #60 "Holding 'down' key at bottom of intellisense menu goes to next line"
I think the expected behaviour is to not quit the intellisense menu when you're holding any of the arrow keys. Up to interpretation if hitting 'down' at the bottom of the menu does nothing (as in VS), or brings you back to the top of the menu (I prefer the former).
Update: if I edit a Java file in Sublime, the former behaviour seems to be what's used.

The reason is that you commonly want to scrol

[2015-02-27 01:29] richardhuaaa opened #61 "Ctrl+V does not work"
I'm using Sublime 2 x64.
1. Create a new *.ts file (or use any existing one)
2. Type some text, highlight it, press 'Ctrl+C'.
3. Press 'Ctrl+V'.

Nothing will be pasted. You can paste anywhere else though, and in non-ts sublime files. You can also use the mouse to right click and paste, it seems only the keyboard shortcut 'Ctrl+V' is busted.

[2015-02-27 01:40] richardhuaaa opened #62 "Highlighting text and hitting 'enter' shifts the highlighted text down a line instead of clearing it and making a new line"
This is inconsistent with the behaviour in other Sublime file types (as well as almost every other editor), where highlighting and hitting 'enter' deletes the highlighted text and makes a new line.

[2015-02-27 02:18] richardhuaaa opened #63 "Generics with more than one type are not colored correctly"
See screenshot, spacing doesn't seem to matter:
![screenshot 9](https://cloud.githubusercontent.com/assets/696206/6406312/c297a050-bde3-11e4-807f-b28b54a848da.png)

[2015-02-27 09:37] #49 closed, assigned to nobody

[2015-02-27 17:40] fionafung opened #64 "All TS sublime keyboard commands no longer work, as the first ctrl+t now transposes letters."
I'm sunk to tip as of 02/27, 9am.  ctrl+T, ctrl+D no longer goes to def, ctrl+t now seems to transpose letters based around the character.

[2015-02-27 18:32] #54 closed, assigned to steveluc

[2015-02-27 19:19] #62 closed, assigned to steveluc

[2015-02-27 19:19] #61 closed, assigned to nobody

[2015-02-28 01:09] #64 closed, assigned to steveluc

[2015-02-28 02:56] #58 closed, assigned to steveluc

[2015-02-28 06:00] #60 closed, assigned to nobody

[2015-02-28 23:46] DanielRosenwasser opened #65 "Exception on startup and every command"
It's weird, I had a spotty time getting it working at first. Now every time I restart ST3 on my Mac, it only seems to only highlight the file. Looking into the console upon startup:

[code]

As I browse the file the file and send commands, I get similar errors from different functions.

[2015-03-01 15:35] sophiajt opened #66 "Sublime plugin stops working"
This is on ST3 on Mac.

I'm having an intermittent failure while working through the demo script.  After typing in/intellisensing in a file roughly like this:

[code]

Sometimes the language service will just stop working.  I'll know because auto-indent stops, and any intenseness falls back to just the symbols in the file.

Is there any way to attach a debugger when this happens to help understand

[2015-03-02 01:02] JsonFreeman opened #67 "Indentation with try catch has funky behavior`"
Try typing the following:

[code]

Brace completion gives you (`$` represents the cursor):

[code]

Do not overtype.

Pressing enter will give you:

[code]

Navigate down:

[code]

Type `c` as if you were going to type catch.

Suddenly, the closing brace indents:

[code]

Not sure why this happens. But for some reason it does not happen if the closing brace was inserted by the user. It only repros

[2015-03-02 22:09] shishirx34 opened #68 "GoTo Definition doesn't work/throw Error/Warning when the Class/file is not referenced"
Using Sublime Text 3(although might be true for Sublime 2 as well)
Similar to Bug #27, If you try to use shortcut to GoTo definition (Ctrl + T, Ctrl + D) for a reference to a class/field in a separate file for which there is no //reference defined in the file, it doesn't work.

At the least we should show some kind alert(?) or warning saying why the GoTo definition wasn't resolved.

[2015-03-02 23:42] JsonFreeman opened #69 "Brace completion can escape out of a comment"
Type the following:

[code]

Brace completion makes it

[code]

And then if you press enter, it becomes

[code]

I think brace completion should not take effect when inside a comment. That is what C# does in visual studio.

[2015-03-03 00:11] #69 closed, assigned to nobody

[2015-03-03 00:40] hinzo opened #70 "TypeScript server ignores the global auto_indent setting switch"
When the user disable auto indenting in the sublime settings file, the TypeScript language service should stop auto indenting.

[2015-03-03 18:50] JsonFreeman opened #71 "Error not showing in status bar for badly typed callback"
[code]

This call is an assignability error, and the error span is indeed squiggled. But the error is not showing in the status bar. Looking at the log, the error was received by the client, so I'm not sure why it's not showing:
{"seq":0,"type":"event","event":"semanticDiag","body":{"file":"0.ts","diagnostics":[{"start":{"line":3,"col":5},"end":{"line":3,"col":8},"text":"Argument of type '(s: stri

[2015-03-03 19:50] mhegazy opened #72 "Error list support"
Since sublime only shows errors for the current file, I find myself looking for all errors in my project; and for these i need to build the project. it would be helpful to have an error list support a la find all references window, that i can use to see all errors and navigate to them.

[2015-03-03 19:51] mhegazy opened #73 "Server responses are not logged"
looking at the console, i only see the request messages, it will be helpful to add responses as well to allow for easier debugging.

[2015-03-03 20:52] #63 closed, assigned to steveluc

[2015-03-03 21:52] roblourens opened #74 "private/public/static not colored"
I thought these keywords had some color before? They do in VS

![capture](https://cloud.githubusercontent.com/assets/323878/6473163/70a4df16-c1ac-11e4-9231-2e471958ab88.PNG)

[2015-03-04 01:16] JsonFreeman opened #76 "Colorization disappears on automatic semicolon insertion"
[code]

This code is colored correctly, but if you remove the semicolon after `var v`, the rest of the function loses the coloring.

[2015-03-04 01:47] #71 closed, assigned to nobody

[2015-03-04 01:47] #50 closed, assigned to steveluc

[2015-03-04 01:48] #34 closed, assigned to nobody

[2015-03-05 06:09] #74 closed, assigned to hinzo

[2015-03-05 06:48] DanielRosenwasser opened #77 "Syntax highlighting incorrectly categorizes text as 'storage.type.ts'"
From our parser.ts file, you can see a lot is getting categorized as blue.

![screen shot 2015-03-04 at 10 40 40 pm](https://cloud.githubusercontent.com/assets/972891/6500353/8fb9f9d6-c2bf-11e4-997c-0cb9d8e8645f.png)

[2015-03-05 21:23] #77 closed, assigned to hinzo

[2015-03-05 21:25] hinzo opened #78 "const & enum are not colored"
example:

const enum ParsingContext {
....
}

[2015-03-05 22:08] #78 closed, assigned to hinzo

[2015-03-06 02:16] #46 closed, assigned to steveluc

[2015-03-06 04:46] richardhuaaa opened #81 "Highlighting text and hitting ';' inserts ';' in front of highlighted text"
Expected is to replace the highlighted text with ';'.

This is very similar to #62, which was previously fixed, seems like there are a class of keys for which this might be a problem.

Using: Sublime Text 2 x64 on Windows 10

[2015-03-06 07:15] #76 closed, assigned to steveluc

[2015-03-08 02:16] #73 closed, assigned to nobody

[2015-03-11 00:22] itsananderson opened #82 "Syntax issue with comments after last constructor argument"
Tested on commit 733710a

When you have a constructor, and the last argument is a callback function, with a comment, the comment isn't highlighted as a comment:
## Repro case

[code]

renders as:
![image](https://cloud.githubusercontent.com/assets/516559/6587975/85104c96-c748-11e4-9c50-2e9b5838ab9e.png)
## Non-repro case (last param isn't a callback)

[code]

renders as:

![image](https://cloud.gi

[2015-03-13 05:47] DanielRosenwasser opened #83 "Go-to-def should behave the same way as find-all-refs when there are multiple definitions"
For instance, go-to-def on `Array` should give both its constructor-side declaration as well as the interface `Array<T>`.

[2015-03-14 22:02] #81 closed, assigned to nobody

[2015-03-14 22:02] #67 closed, assigned to hinzo

[2015-03-14 22:49] #70 closed, assigned to nobody

[2015-03-20 19:56] jonathandturner opened #84 "Sort the autocomplete list"
Currently, the autocomplete list is unsorted, which makes it very difficult to find symbol names when you get back a long list of autocomplete possibilities.  Can we show a sorted list?

[2015-03-21 05:24] #66 closed, assigned to nobody

[2015-03-21 05:24] #82 closed, assigned to nobody

[2015-03-23 21:53] roblourens opened #85 "Issues after 3/20"
Using ST3 on Windows, it seems slow and I see this in the console:

[code]

Also it crashed a couple times after closing several documents, but I don't know how to get useful info for that. It seems more stable after syncing before 3/20.

[2015-03-24 23:00] silhouettes opened #86 "Auto-format messes up indentation for promises"
For .then() and .done(), the auto-format messes the indentation where VS works fine. This is some text before auto-format:

                        this._remoteDom.querySelector(this._rootUid, "body iframe#document")
                            .done((uid: string) => {
                                callback(uid);
                            });

This is the text after auto-format:

[2015-03-24 23:12] #85 closed, assigned to nobody

[2015-03-25 20:50] fionafung opened #87 "Possible to show both errors and quick info if both info is available?"
I'm in the process of writing my class, and I wanted to bring up quick info in the status bar to help remind me of the right parameters.  Right now I only see the error that I'm not passing in the right parameters.  Is it possible to show both info if it's available?

![errorquickinfo](https://cloud.githubusercontent.com/assets/10522330/6835121/d8c8952e-d2f5-11e4-9981-01ef11809ed8.png)

[2015-03-25 22:22] fionafung opened #88 "tsconfig.json does not appear to work"
Sunk to 03/25, 1pm.  I have a project which has a file list.ts which defines MyListNodeImpl, and tree.ts.  In the same folder I have tsconfig.json.  However when I'm in tree.ts, "MyListNodeImpl" doesn't show up on the completion list
![tsconfig](https://cloud.githubusercontent.com/assets/10522330/6836769/b5e7e458-d302-11e4-9e7c-db44065eae06.png)

[2015-03-26 02:07] fionafung opened #89 "Rename does not work across files even if they are /// referenced"
In my sample project, I have List.ts that defines "MyListNodeImpl", and another file Stack.ts that makes use of "MyListNodeImpl".  When I went to List.ts and did a rename of "MyListNodeImpl" to "ListNodeImpl", the rename did not occur in Stack.ts, even though Stack.ts ///ref List.ts.  Below is my test project, rename the file from .jpg to .zip
![typescripthtmlapp1 zip](https://cloud.githubusercont

[2015-03-27 05:36] billti opened #90 "Quick info does not show generic types"
See below.  In other editors (i.e. VS, Playground) this would show as `(var) y: Foo<string>`

![screen shot 2015-03-26 at 10 33 43 pm](https://cloud.githubusercontent.com/assets/993909/6863092/8e330f76-d408-11e4-97bb-90e150e74c69.png)

[2015-03-27 05:43] billti opened #91 "Why are some signatures underlined in the popup?"
See below difference between "map" and "every" on an Array instance.  Why does the info for "map" have most of the text underlined?

![every](https://cloud.githubusercontent.com/assets/993909/6863148/70dc8da2-d409-11e4-98ff-dde5f8426d23.png)

![map](https://cloud.githubusercontent.com/assets/993909/6863150/73f21fde-d409-11e4-8d60-d67057b91317.png)

[2015-03-27 05:57] billti opened #92 "Can only see the first call signature in a set of overloads"
For a function with a set of overloaded signatures, I am only able to view the first overload (see below, unable to cycle through other overloads).  Is this a TODO, a bug, or a command/key stroke I am unable to locate?

![screen shot 2015-03-26 at 10 46 14 pm](https://cloud.githubusercontent.com/assets/993909/6863259/37d00b18-d40b-11e4-9e20-873ed1313a1f.png)

[2015-03-27 20:31] zhengbli opened #93 "Cannot type semicolon in an unsaved buffer"
I seem to be unable to type semicolon if I create a new buffer (default named "untitled"), set the syntax to TypeScript, but don't save it as a file. The following error log is shown in sublime console:

[code]

[2015-03-28 00:35] roblourens opened #94 "Can't navigate to result from the Find References window using the mouse"
When I do a FindReferences, I expect to be able to double click on a result to navigate there, like the normal Sublime "Find Results" window. This doesn't work, but pressing enter navigates to the result under the cursor.

[2015-03-28 16:50] #89 closed, assigned to steveluc

[2015-03-28 16:50] #88 closed, assigned to steveluc

[2015-03-28 16:55] #27 closed, assigned to steveluc

[2015-03-28 17:14] #90 closed, assigned to nobody

[2015-03-28 17:15] #91 closed, assigned to nobody

[2015-03-28 17:38] fionafung opened #95 "We don't brace completion on '<'"
In writing generics, I notice that we don't brace complete on '<'.  I got used to our great support of all the other types of braces :)

[2015-03-29 01:30] fionafung opened #96 "Format selection or document does not appear to work via "^T^F""
I typed the following function in TS and formatting was beautiful

function abc():number{

    var a = 1;
    var b = 2;
    var c = 0;

     c = a + b
     a++;
     b++;

     return c;
 }

Now I wanted to wrap everything from "var a = 1" to "b++" inclusive in a for loop to run it 10 times.  So I start typing "for" above "var a= 1;" then hit tab tab to insert the for snippet, and I change var to

[2015-03-29 09:19] fionafung opened #97 "With tsconfig.json, one of the files in my project are not getting the references"
QueueImpl is defined in Queue.ts which is in the same folder as my current file which has a tsconfig.json.  However, note that QueueImpl is squiggled.

![queueundefined](https://cloud.githubusercontent.com/assets/10522330/6884864/e8aa5628-d5b9-11e4-807c-48272cb52cf8.png)

My repro project (remove the .jpg to unzip)

[2015-03-31 21:00] #93 closed, assigned to nobody

[2015-03-31 21:03] roblourens opened #98 "`this` isn't colored anymore"
![capture](https://cloud.githubusercontent.com/assets/323878/6929314/945348c2-d7ae-11e4-9aa8-d56b001d09f8.PNG)

[2015-04-01 01:29] #98 closed, assigned to nobody

[2015-04-01 16:12] billti opened #100 "Symbolic link to plugin can break"
Consider using os.path.abspath instead of realpath in [TypeScript.py@12](https://github.com/Microsoft/TypeScript-Sublime-Plugin/blob/master/TypeScript.py#L12) to set the pluginDir  (Note: I'll test this across platforms/versions before submitting a pull request).

Currently I have the repo linked in as `TypeScript` under `Packages` (i.e. `TypeScript -> /Users/bill/src/TypeScript-Sublime-Plugin`),

[2015-04-01 16:43] #100 closed, assigned to nobody

[2015-04-01 19:21] codemonkeychris opened #102 "Can't type ";" on one of my machines"
Using Sublime Text v3 - 3083 in "portable configuration", I cloned the repo into the Sublime data\packages directory (Windows 10)... I have a second machine that this appears to work.

[2015-04-01 19:25] billti commented on #102
Is this with the latest bits?  #93 fixed a very similar issue.

[2015-04-01 19:28] steveluc commented on #102
OK Chris, that sounds like an install issue in which the TypeScript Server process does not successfully start.  We find node using the path environment variable + /usr/local/bin.  See the Tips part of the README.md for how to set the node_path setting to find the node executable.   Open the Sublime console (ctrl + `) to see whether there are messages indicating the server has not started and whet

[2015-04-01 19:30] roblourens opened #103 "Pre-populate the 'rename' box with the original name"
This would be useful because when I do a rename, I'm usually modifying the existing name.

[2015-04-01 19:37] roblourens opened #104 "ST3 is slow to shut down when lots of TS files are open"
This seems to be recent - when I close Sublime and I have lots of TS files open (20 +), it takes 10 or 15 seconds before the process is gone from Task Manager. If I try to open ST again during that time, nothing happens. When I only have lots of non-TS files open, it shuts down immediately.

[2015-04-01 19:41] steveluc commented on #104
I have noticed this also.  What version of Sublime are you running?  I have only noticed this behavior on new dev builds of Sublime.

[2015-04-01 19:46] roblourens commented on #104
"Stable channel, build 3083"

[2015-04-01 20:57] steveluc commented on #102
I have updated the plug-in so that it pays attention to node_path on Windows.  I did a portable install of Sublime and verified it works.  However, I don't know @codemonkeychris if this is your issue because I do not need to set node_path to make it work.

[2015-04-01 23:49] fionafung commented on #97
Verified fixed - thanks!

[2015-04-01 23:49] #97 closed

[2015-04-01 23:58] mprobst opened #105 "Cannot disable Auto-Formatting"
According to the docs, auto-formatting should be disabled by default. However it seems to be *enabled* by default - after installing the plugin, when I type `;` or `{` I do get formatting (with +4 indentation, not matching my editor settings...).

Additionally, I did add `"typescript_auto_format": false` to my Preferences.sublime-settings, but that doesn't seem to disable the formatting either.

[2015-04-01 23:58] fionafung commented on #96
Verified fixed - thanks!

[2015-04-01 23:58] #96 closed

[2015-04-02 05:05] steveluc commented on #105
Hi @mprobst.   You probably didn't get a chance to see the Tips part of the README.md as we just checked it in yesterday.  Below is the prose about the behavior.  To summarize: Enter is Sublime auto indent by default, but ';' and '}' are TypeScript format by default.   'typescript\_auto\_format' is definitely a confusing name since it's auto indent that is toggled.  We will add a 'typescript\_auto

[2015-04-02 05:09] steveluc commented on #105
Also would like to get more comments on defaults.  We could turn off ';' and '} by default.  The formatting would still be available by typing 'ctrl + ;' (format line) and 'ctrl + }' (format block).  So far most people testing have requested these on by default.

[2015-04-02 05:33] codemonkeychris commented on #102
I think it was actually needing a system log out to pick up the env. variable from Node. Installing node puts the npm user directory on the path is the user env. vars, which get picked up with a console restart, but the path to node itself is in system vars... Anyway, a reboot and this patch, and everything seems golden.

[2015-04-02 05:33] #102 closed

[2015-04-02 05:36] steveluc commented on #105
'typescript\_auto\_indent' added and 'typescript\_auto\_format' changed to apply to formatting on ';' and '}'.  For now, defaults are false for indent and true for format.  You can override either in User\Preferences.sublime-settings.    README.md tip updated.

Commit f5bfc98.

[2015-04-02 06:02] steveluc commented on #102
Added additional information to README.md on finding node on path env variable.  Added Requirements section to README.md to emphasize node requirement.

Commit 749959b

[2015-04-02 14:38] codemonkeychris opened #106 "Sublime ToggleComment/Block should be supported in TypeScript plugin"
With the TypeScript plugin enabled you loose the comment block feature (default mapped to `Ctrl+/` and `Ctrl+Shift+/`, would be great to support this!

[2015-04-02 15:13] mprobst commented on #105
I think I might have misread the `README.md`, the distinction between auto format and auto indent escaped me ;-) With your commit, I can easily disable the auto formatting now, so I have the exact behaviour I want, thanks.

Regarding defaults: I think it's very useful to have a quick-to-trigger auto-formatter, e.g. with a keybinding that formats the current statement or scope. I'm not entirely con

[2015-04-02 15:14] #105 closed

[2015-04-02 16:57] jeffbcross opened #107 "Could not find from Package Manager"
Sublime Version: Sublime Text 3
Platform: Mac OSX

Steps:
 * Package Control > Install Package
 * Type: typescriptlang
 * No results

Note I had previously installed from git, from the https://github.com/Microsoft/ngconf2015demo repository. But I'd since removed the package via package manager, and restarted Sublime.

[2015-04-02 16:57] jeffbcross commented on #107
Oops! I just saw the note about package pending approval

[2015-04-02 16:57] #107 closed

[2015-04-02 18:05] billti commented on #106
Chris, I just added a file in a new `comments` branch (09e6b241d6c4c0b) which should fix this.  Can you give it a try before I merge to `master` and ensure this is good for you.

[2015-04-03 02:49] billti commented on #53
I just fixed this in #106.  I didn't see this issue already existed.

[2015-04-03 02:49] #53 closed

[2015-04-03 05:58] zhengbli commented on #104
It is slow because each time a file gets closed the plugin sends out a notice to the server. Fixed by batching up the process. Sent pull request #110

[2015-04-03 07:04] hackwaly opened #111 "Auto indent on enter between curly brackets not work in st3."
View::rowoffset should be View::rowcol in st3.
https://github.com/Microsoft/TypeScript-Sublime-Plugin/blob/master/TypeScript.py#L1412

[2015-04-04 04:49] steveluc commented on #111
Fixed in 9da386a.

[2015-04-04 09:37] billti commented on #92
See the write up in the pull request.  This seems to work quite well when there are a lot of overloads (e.g. addEventListener), as the fuzzy searching helps you narrow down quickly.  The args-as-snippets behavior is quite handy too.

[2015-04-04 22:55] agmcleod opened #113 "Default key in plugin ';' prevents me from typing said key in code"
Rather bothersome for when trying to correct an error from leaving out a semicolon. It's the keymap for auto indenting.

[2015-04-05 01:51] zhengbli commented on #113
Does this happen in a unsaved buffer? #93 and #102 look similar.

[2015-04-05 18:39] steveluc commented on #113
In the other two cases, the semi-colon did not appear because the server had not come up.  @agmcleod could you check the console (ctrl + `) to see if there are messages about bringing up the server?  Where is node installed on that machine?

I will change the plug-in so that it still lets you type a ';' in this situation.

[2015-04-05 18:45] steveluc commented on #104
:+1:   I like the approach of catching the window commands and avoiding open messages.

Great to see the analysis of the event order and the addition of logging.

[2015-04-05 18:48] agmcleod commented on #113
@zhengbli unsaved or saved seems to have the issue. If i do a new tab even, set syntax to typescript the issue occurs.

@steveluc not seeing any errors. I opened up a simple .ts file. Able to make changes and save okay. Compiles out the .js file.

I think i installed node from the website's installer. Binary is: `/usr/local/bin/node`, using `v0.12.0`.

[2015-04-05 19:22] nojaf opened #116 "Tsc version?"
This might be a stupid question but I seem to miss the minimum Typescript version needed for this plugin? Is the 1.5 Alpha required?

[2015-04-06 02:52] billti commented on #116
The plugin is largely self-contained (the tsserver.js file under the plugin folder contains a copy of the compiler and language service).  If you are also building on the box, you'll likely want to keep your TypeScript version in sync with the plugin, and yes, it is based on the 1.5.0-alpha.

[2015-04-06 02:52] #116 closed

[2015-04-06 04:44] steveluc commented on #113
Are you getting completions?

[2015-04-06 05:04] steveluc commented on #113
In commit 04fe273, added exception handling for the case where the node executable isn't found.  This should make the ';' appear if that is the problem.  If that's not the problem, we may need to ask you to send us an excerpt of the console output for the plug-in.

[2015-04-06 13:27] aleksey-bykov opened #118 "Instruction for manual package installation in Windows is missing"
Please note that the mentioned path
[code]
works only in iOS

For Windows users it should be
[code]

Source: http://docs.sublimetext.info/en/latest/basic_concepts.html#the-data-directory

Also: http://docs.sublimetext.info/en/latest/basic_concepts.html#the-user-package

[2015-04-06 13:29] vilic opened #119 "Plugin gets so laggy sometimes and losts error checking and auto complete."
On both Mac and Windows, Sublime 2 and 3.

My workmate runs into this issue almost every time (on Mac), I met this issue once (on Windows).

[2015-04-06 13:36] vilic commented on #119
These steps *might* trigger this issue:

1. Type "class" and tab to expand the snippet.
2. Delete class name to the start.
3. Delete everything.

[2015-04-06 15:30] billti commented on #118
I updated the readme to include this info.  See aac22c8deee3bc

[2015-04-06 15:30] #118 closed

[2015-04-06 15:45] lucasmciruzzi opened #120 "Format options (tabs instead of spaces)"
It'll be nice if I could set the format options to use tabulations instead of spaces when pressing [^T, F].

[2015-04-06 17:58] billti commented on #106
This is in master now.  Reopen if you have any problems with it.

[2015-04-06 17:58] #106 closed

[2015-04-06 17:59] billti commented on #92
This is merged in. We'll continue working on ideas to expose it from other areas too (i.e. a link on the tooltip).

[2015-04-06 17:59] #92 closed

[2015-04-06 21:12] #104 closed

[2015-04-06 23:41] agmcleod commented on #113
@steveluc no completions. `;` does format on key i think though, not auto complete.

Did a git pull and restarted sublime, still cannot type `;` character. Here's what i see in the console after restarting:

    startup, version: 3083 osx x64 channel: stable
    executable: /Applications/Sublime Text.app/Contents/MacOS/Sublime Text
    working dir: /
    packages path: /Users/aaronmcleod/Library/A

[2015-04-07 03:04] steveluc commented on #119
Lag and losing error checking and auto complete could be symptoms of the server crashing.  Could you look in the console output to see if you see "queue timeout" a lot of times.

Will try your repro steps.

[2015-04-07 03:19] vilic commented on #119
Not seeing queue timeout on my PC, but seeing a lot of it on the Mac of my workmate. (Actually it doesn't even need steps to reproduce, it just lags from the very beginning.)

[2015-04-07 05:09] uglycoyote commented on #113
I'm also running in to this issue.  Sublime 3 Build 3083 on Mac, latest version of Typescript plugin as of current time.  Semicolon does not work in Typescript buffer, but works fine in other buffers.  Also cannot paste with Cmd-V but pasting using the menu option works fine.

I also have Sublime 2 (build 2221) on this machine, and it does not suffer from the same issue.

[2015-04-07 05:36] uglycoyote opened #121 "Completion popup appears and disappears instantly"
I'm running under Sublime 2 v 2221.   Typescript plugin is working but the completion popups are popping up only for a fleeting moment and then disappear again.

I have pasted the "greeter" sample in, and typed "var x = greeter" on a new line, and then when I press "." after greeter I see the popup just for an instant and then it is gone.   I can keep pressing backspace and "." again and it will o

[2015-04-07 05:47] billti commented on #113
Interesting.  We update the search path to put our module folder on it.  Could you please try the below to see what the result is.

1. Open the Sublime console ( View / Show Console )
2. In the console, first run "import sys", then run "sys.path"
3. You should see output such as `['/Users/bill/Library/Application Support/Sublime Text 3/Packages/TypeScript/libs', '/Applications/Sublime Text.app/Con

[2015-04-07 06:04] billti commented on #119
Actually, I just did a sync of the latest bits and opened them up with Sublime Text 2, and I'm seeing a lot of lag, broken features, and the below in the console:

[code]

@steveluc, some of the lines reported above correspond with yesterday's checkin of 9a8377e1a6b for `async message correlation` (which would seem to correlate with the threading violation reported above).  Can you take a quick lo

[2015-04-07 06:16] uglycoyote commented on #113
Thank you, looking at sys.path did point me to the source of the trouble:

<pre>
'/Users/mike/Library/Application Support/Sublime Text 3/Installed Packages/TypeScript.sublime-package/libs'
</pre>

This was from a previously installed plugin called "TypeScript" which I think used to exist on package control but no longer does (not sure if that was an earlier version of your plugin, or a completely

[2015-04-07 06:22] uglycoyote commented on #121
More info: After getting plugin working under Sublime Text 3 I can confirm that the popups work fine under Sublime 3, and this is only a Sublime 2 issue.

[2015-04-07 06:51] billti commented on #121
Yeah, I'm wondering if this might be the #119 issue impacting Sublime Text 2 with the recent check-in.  Could you try going into the TypeScript package folder and checking out a commit prior, i.e. `git checkout 49936f7c0538`.  If the async addition is the cause this should resolve it.  We'll get that address shortly.

[2015-04-07 10:18] MarlonFan commented on #119
Same @steveluc
[code]

[2015-04-07 11:20] ddotlic commented on #107
5 days later, this is still supposedly pending approval. Personally, it's not too difficult for me to get this via git, but keeping it up to date is slightly annoying (must not forget to git pull from time to time where packages update automatically).

Is there a reason for this delay?

[2015-04-07 14:06] uglycoyote commented on #121
yeah going back to 49936f7c0538 totally makes the problem go away, and then going back to 'master' made the problem come back again.

More information about the problem: not only does it not show the completion popup, but also there's a long pause sometimes (1-2 seconds) after typing the '.' where Sublime doesn't respond to my typing any further characters.  So it's basically unusable as an editor

[2015-04-07 15:55] agmcleod commented on #113
Yeah that seemed to be my issue too, the older TypeScript package.

[2015-04-07 16:39] uglycoyote commented on #113
Probably a large number of potential users of this new Microsoft Typescript plugin will have also tried the old "TypeScript" plugin that caused the name conflict.  This might not be a problem once you guys get on package control, since it seems like the name is going to be "TypeScriptLang" according to the front page.

But you might want to do one of the following things to help prevent this:
- Ch

[2015-04-07 16:52] steveluc commented on #119
The console output shows that the server is not up.  This is different from the async completions issue that Bill is referencing.  That one looks like we'll need to use synchronous messaging for completions on ST2.

[2015-04-07 16:54] steveluc commented on #121
I will change the async completions to work only under ST3

[2015-04-07 17:04] steveluc commented on #121
Done.  Please try again with latest in master.

[2015-04-07 18:01] billti commented on #113
I added the note about the conflict and changing the name to the readme once we identified the cause.  See 212464a0b1 .

[2015-04-07 18:01] #113 closed

[2015-04-07 18:07] billti commented on #107
It took a few days for them to look at the pull request, so that caused most of the delay so far.  Now the maintainer has actually pinged the owner of 'TypeScript' package to see if we can take that name (seeing as that one is just a syntax file and has been stagnant for a while), rather than us needing to use something else not taken (hence the `TypeScriptLang` name currently proposed).  See http

[2015-04-07 18:10] ddotlic commented on #107
@billti Yeah, using Typescript name is worth it IMHO. Thanks for the details!

[2015-04-07 20:14] #103 closed

[2015-04-08 02:02] ukyo opened #125 "String disappears when I select a completion starts with dollar."
PR: #123

String disappears when I select a completion starts with dollar.

1. Write codes as below.
2. Set the cursor after `foo.` then hit `Ctrl + Space` and choose the `$bar` property.
3. The completion disappears.

This problem occurs in ST3 on Mac.

[code]

I think this problem is related to [Sublime Forum • View topic - Auto-complete issues when snippet starts with $](http://www.sublimetext.

[2015-04-08 03:57] tgfjt opened #126 "add support ENV for "node_path" setting"
Hi.

`"node_path": "/Users/tgfjt/bin/node"` works well.
But `"node_path": "$HOME/bin/node"` does not works.

If we can do it. It'll be useful.

[2015-04-08 05:59] #111 closed

[2015-04-08 06:06] DanielRosenwasser opened #127 "Body of method appears to be considered type annotation"
As you can see, it thinks `this.writeMessage` is a function definition, and all this causes highlighting to go off the rails.

![bad scope](https://cloud.githubusercontent.com/assets/972891/7039719/8e5f608c-dd7a-11e4-84ff-b2cd91cef0cc.png)

[2015-04-08 06:12] steveluc commented on #127
@DanielRosenwasser can you attach the file or copy into a comment a portion large enough to make this happen?

[2015-04-08 08:07] DanielRosenwasser commented on #127
Try this repro:

[code]

[2015-04-08 14:37] squeral opened #129 "wrong indentation when 'typescript_auto_format' is true"
When using tabs for indentation with 'typescript_auto_format' set to true this happens:
![indentation](https://cloud.githubusercontent.com/assets/2511646/7047558/2ffc0910-de05-11e4-902d-6d20aa123041.gif)

[2015-04-08 17:16] sccolbert commented on #127
The `method-declaration` rule doesn't handle type parameters, which in general causes highlighting to fail on generic methods.

https://github.com/Microsoft/TypeScript-Sublime-Plugin/blob/master/TypeScript.YAML-tmLanguage#L125

[2015-04-08 17:52] sccolbert opened #130 "Reference paths required?"
I have a project which uses internal modules exclusively. I have a `tsconfig.json` in the root project directory which lists all the files to include. However, I still need to specify references paths in the modules in order for the plugin to "see" the definitions in the other files. Note that these reference paths are not required to compile the project cleanly, since all the files are included i

[2015-04-08 17:56] sccolbert opened #131 "Right-click -> Go To definition goes to wrong file"
I have a `tsconfig.json` which lists all files in the project. Pressing F12 on a symbol goes to the correct definition. Right clicking and choosing Goto Definition finds the symbol in the build output directories, the files of which are *not* in the `tsconfig.json`.

[2015-04-08 19:19] mhegazy commented on #130
you can either add /// <reference> tags in one of your sources to the .d.ts files for the modules you are importing, or you can just list them in the "files" section of your tsconfig ([see tsconfig documentation for more details](https://github.com/Microsoft/TypeScript/wiki/tsconfig.json#details))

[2015-04-08 19:29] sccolbert commented on #130
As I mentioned in the post, they are listed in the tsconfig "files" section. So, this may be a bug.

[2015-04-08 19:38] mhegazy commented on #130
can you provide more details, my simple project (a.ts, b.d.ts, and tsconfig.json) does not seem to repro the issue.

[2015-04-08 19:59] sccolbert commented on #130
Here's a project hierarchy which reproduces the problem:

[code]

Contents of files:

`thinga.ts`
[code]

`thingb.ts`
[code]

`thingc.ts`
[code]

`thingd.ts`
[code]

`tsconfig.json`
[code]

They exhibit the following problems for me:
- `ThingA` is undefined in the extends clause of `thingb.ts`
- `moda` is undefined in the imports clause of `thingc.ts`
- `moda` is undefined in the imports clause of

[2015-04-08 23:47] zhengbli commented on #131
I didn't see the menu item called "goto definition" on my machine. What build / version of sublime are you running? Does the "goto definition" exist if you open non-ts files too?

[2015-04-08 23:52] sccolbert commented on #131
I'm running 3083. This seems to be a feature of Sublime. I'd never noticed it before, so thought it was provided by this plugin. Sorry for the noise.

[2015-04-08 23:52] #131 closed

[2015-04-09 04:52] DanielRosenwasser commented on #131
We should still override the behavior if possible. I remember seeing the context menu in Windows.

[2015-04-09 05:12] steveluc commented on #131
We try not to override any existing Sublime menus and key bindings.  That's why we left this one the way it is.  @sccolbert thanks for the post; we do not consider it noise.  It is helpful to know when there is possible confusion.  We'll put a note about the context menu in the tips.

[2015-04-09 05:16] steveluc commented on #131
Done in commit 0c8719e

[2015-04-09 05:46] steveluc commented on #130
Problem is "," after true.

[2015-04-09 05:49] steveluc commented on #130
I think we should look into handling the trailing ","
Here is a thread on it:
http://stackoverflow.com/questions/201782/can-you-use-a-trailing-comma-in-a-json-object

[2015-04-09 05:58] steveluc commented on #130
Problem is in JSON.parse itself, so not a simple fix:

SyntaxError: Unexpected token }
    at Object.parse (native)
    at repl:1:6
    at REPLServer.defaultEval (repl.js:132:27)

{ compilerOptions: { noImplicitAny: true } }

[2015-04-09 06:29] steveluc commented on #127
Thanks @sccolbert and @DanielRosenwasser.

Fixed in commit c0f47cc.

[2015-04-09 15:25] sccolbert commented on #130
Confirmed that the culprit is the trailing comma (stupid mistake on my part). However, the JSON parse failure doesn't seem to be indicated in the console (or anywhere I can see). Is it possible to to indicate to the user when the JSON is malformed?

[2015-04-09 19:42] bunnycode opened #133 "Plug-in is screwing up tab setting"
This plugin is not respecting my setting to use tabs instead of spaces. I believe have every possible setting I can find across both Sublime and the TypeScript plugin to force the editor to always use tabs in every situation. Yet after installing this plugin, whenever I create a new file, or even rename an existing one, it reverts that file back to "Indent with spaces".

[2015-04-10 01:04] steveluc commented on #130
Agree there should be a message.

[2015-04-10 01:04] #130 closed

[2015-04-10 01:12] steveluc commented on #133
This is a known issue.  We are testing a fix.

[2015-04-10 02:34] goldcaddy77 opened #134 "Support for linting using tslint?"
Any chance you're going to support linting via [tslint](https://www.npmjs.com/package/tslint)?  I have this running in my build tools, but it would be great to have errors show up in my editor.

[2015-04-10 06:41] DanielRosenwasser opened #135 "Identifiers containing a numeric literal have incorrect colorization"
![image](https://cloud.githubusercontent.com/assets/972891/7083057/d713156a-df11-11e4-92f1-50bd0c7e4f5f.png)

[2015-04-10 06:45] DanielRosenwasser commented on #133
Duplicate of #129.

[2015-04-10 06:45] #127 closed

[2015-04-10 06:48] #65 closed

[2015-04-10 06:56] DanielRosenwasser commented on #120
This has to do with TypeScript's services API, not this plugin. See https://github.com/Microsoft/TypeScript/issues/2306 and feel free to voice your opinion there.

[2015-04-10 06:56] #120 closed

[2015-04-10 06:57] DanielRosenwasser commented on #126
Sorry, could you elaborate a bit more? Are you asking us to expand environment variables in your `node_path`?

[2015-04-10 07:04] lucasmciruzzi commented on #120
Thanks!

[2015-04-10 07:07] tgfjt commented on #126
Sorry! it's not enough words.

Yes, I want that expanding ENV variables in `node_path`, because I use a `Preferences.sublime-settings` between some machines.

[2015-04-10 07:15] DanielRosenwasser commented on #134
Unfortunately I don't really think this is in scope for us. Perhaps look into [SublimeLinter-contrib-tslint](https://github.com/lavrton/SublimeLinter-contrib-tslint).

[2015-04-10 07:17] #134 closed

[2015-04-10 07:17] DanielRosenwasser commented on #121
@uglycoyote, if the problem persists, let us know and we'll reopen this issue.

[2015-04-10 07:17] #121 closed

[2015-04-10 07:27] DanielRosenwasser commented on #48
I think we should consider filing future issues like this on the TypeScript repo itself, but since we're discussing here, let's continue.

Not really sure where I see the example of how to do this in protocol.d.ts. I think @dbaeumer's point about constants still stands. For instance, I'll be working on `getDocumentHighlights` server support soon and I'm sort of just left with explicitly stating th

[2015-04-10 07:29] DanielRosenwasser commented on #131
Not sure if I'm big on this since the implementation is so broken for TypeScript, but I understand the rationale.

[2015-04-10 10:00] dbaeumer opened #136 "Tokenizer returns variable references as block"
Take the following peace of code:

    var nodeproto: typeof NodeJS._debugger = require('_debugger');
    var readline: NodeJS.ReadLine = require('readline');
    var path: NodeJS.Path = require('path');
    var fs: typeof NodeJS.fs = require('fs');

    var rl = readline.createInterface({
        input: process.stdin,
        output: process.stdout,
        terminal: false,
    });

readline . cr

[2015-04-10 14:44] uglycoyote commented on #121
sorry I didn't give feedback after the fix, but I just pulled the latest and tested in Sublime 2 and the problem is fixed.  Thanks!

[2015-04-10 14:57] goldcaddy77 commented on #134
:+1:

[2015-04-10 15:13] #133 closed

[2015-04-10 15:35] fionafung opened #137 "Upon installing "TypeScript" from Package.io, certain commands don't seem to work"
While I get syntax coloring and object identifier intellisense, commands such as go to def, rename, etc don't seem to work, and the intellisense list doesn't appear to be funded by TS.

[2015-04-10 16:54] DanielRosenwasser commented on #121
Great! Keep us posted if you catch anything else.

[2015-04-10 17:03] DanielRosenwasser commented on #137
Same problem. It started out as a broken pipe error as it was probably starting up, but now here's the error I keep getting in the console:

[code]

@fionafung, any chance you could peek at your console and see if you're getting the same error?

[2015-04-10 17:04] DanielRosenwasser commented on #137
Also, what is the use of .tmpbuf if I may ask?

[2015-04-10 17:35] mhegazy commented on #130
We also have the same issue for the compiler, linking for future references: https://github.com/Microsoft/TypeScript/issues/2627

[2015-04-10 22:34] billti commented on #137
Fixed in 0.1.3 which published.  Should be live shortly. (You may need to restart Sublime after it is installed)

[2015-04-10 22:34] #137 closed

[2015-04-10 23:42] mprobst opened #140 "Toggling line comments with Cmd+/ or Ctrl+/ respectively doesn't work"
See subject.

[2015-04-11 00:23] billti commented on #140
Which build are you on?  I fixed this in #106 and it's been working fine for me ever since.

[2015-04-11 00:33] mprobst commented on #140
Indeed, I was stuck on an old version for some reason. Thanks!

[2015-04-11 00:33] #140 closed

[2015-04-11 18:02] fionafung opened #141 "We do not squiggle error on hasOwnProperty"
Try to type in the following in Sublime Text 3, there are no squiggles, but we do have an error that hasOwnProperty requires a string and we are passing in a number.

[code]

[2015-04-11 20:59] zhengbli commented on #141
![capture](https://cloud.githubusercontent.com/assets/1171301/7103249/d8236878-e052-11e4-91f1-6de44089027c.PNG)
Do you mean the red lines under "i"? Seems I'm getting it on my machine.
Which build of sublime are you on?

[2015-04-11 23:37] fionafung commented on #141
Odd, I'm on sublime text 3

[2015-04-12 00:01] billti commented on #141
I just tried on Windows & ST3 with both latest `master` bits and the `0.1.3` tag (which is the Package Control bits) and all looks fine to me also.  I see the red squiggle, and when I click also the error in the status bar.

Do you see any errors in the console/log?  Do you only have one TypeScript plugin running (i.e. not a prior cloned version and a Package Control version installed)?  FYI:  I j

[2015-04-12 21:37] fionafung commented on #141
I had noticed some other odd behaviors like quick info not showing up, so I then rebooted sublime and now can no longer repro...will keep an eye on and re-activate if I see the issue again - thanks!

[2015-04-12 21:37] #141 closed

[2015-04-13 07:38] antoinerousseau commented on #61
I'm still having this issue under ST3. Using v0.1.3 of this plugin.

[2015-04-14 12:54] matthiasg opened #143 "Completion doesnt work"
Completion etc does not work at all:

Console output when opening a *.ts file:

[code]

[2015-04-14 13:29] beytu opened #144 "Inner project customization ?"
Hello,

in the Tips section of your README, point 8, their is a default inner project notion when no tsconfig.json file is found. Is there a way to customize this project like setting the target option to ES6 or to set the module option.

I'm editing TS file using ES6 module feature and i don't have any tsconfig.json and i'm entouring the following issue :

![image](https://cloud.githubusercontent

[2015-04-14 14:26] MartinMajewski commented on #144
Same issue and same message in JetBrain's WebStorm IDE with the TS 1.5 compiler.

At least now I know that it's not my IDE configuration! ;-)

[2015-04-14 14:38] beytu commented on #144
@MartinMajewski , you should be able to provide those information (module and/or target) via the command line options on Webstorm 10 :

![image](https://cloud.githubusercontent.com/assets/4345071/7139058/79ac50a6-e2c4-11e4-8d8f-bce2350678e1.png)

you can add `--target ES6` for example

And in Webstorm 9, you should also be able to provide the module and/or target option using the file watcher cust

[2015-04-14 16:47] billti commented on #144
There is no way to set defaults for this currently.  We could look at adding this to the User Preferences (but then, if you're going to have to edit a JSON file to set them, might as well add a tsconfig.json :-) ).

Is there a reason adding a tsconfig.json for the stuff you are working on is impractical right now?

I'll add the 'suggestion' tag to this issue for being able to set defaults for the

[2015-04-14 18:17] MartinMajewski commented on #144
@beytu Okay, I'll try the `--target ES6` option later today. Have tried it by simply using `--module` , but then I got a `"Error: Cannot start compiler process"` message.

[2015-04-14 19:32] steveluc commented on #143
The server is not up (invalid argument to stdin.flush() shows this as well as queue timeout messages).  Most likely cause is node was not found.  If your node is installed in a place not on your system path, then you can add a 'node\_path' setting to your Preferences.sublime_settings file (see README.md for more details).

[2015-04-14 19:37] steveluc commented on #136
Are you talking about lexical colorization here?  Or the TypeScript scanner?

[2015-04-14 19:49] MartinMajewski commented on #144
Nope... same problem... compiler process cannot start...

[2015-04-14 20:00] steveluc commented on #135
Fixed in commit 34b1ff3

[2015-04-14 20:37] steveluc commented on #129
Fixed in commit 71aa8bd (in master; not yet up in PackageControl).  Please give this a try (by cloning master as TypeScript package) and give us feedback.

[2015-04-14 21:06] #135 closed

[2015-04-15 03:32] #125 closed

[2015-04-15 05:17] matthiasg commented on #143
@steveluc thanks for the feedback. node was in the path (`where node` worked fine).

It turns out the issue was a leftover folder of the manual TypeScript installation of before.
I had recently reinstalled windows and also reinstalled sublime but the Sublime `Installed Packages` folder was still present, including the previous `TypeScript` package. The current one is just `typescript`.

Works now.

[2015-04-15 05:18] #143 closed

[2015-04-15 06:44] beytu commented on #144
@MartinMajewski thanks! good to know

[2015-04-15 07:13] beytu commented on #144
hello @billti , About your question, it's not that is impractical but more inconvenient particularly in new projects where file creation, deletion, renaming occurs all the time and when there is multiple developers, maintaining this kind of file list is not that good. The tsconfig.json does not support glob yet ( https://github.com/Microsoft/TypeScript/issues/1927 ), so having to maintain this kin

[2015-04-15 09:00] squeral commented on #129
It's working great for me. Thank you!

[2015-04-15 14:20] sccolbert commented on #130
@steveluc following up on my last post: I was running into another error in the `tsconfig.json` due to a misspelled filename. The server was failing to load the config because it couldn't find the misspelled file. This error is usually silently ignored, but after digging through `tsserver.js` I was able to find the (undocumented?) `TSS_LOG` env var which enables the server logging. That log indica

[2015-04-15 15:41] sccolbert opened #147 "Plugin breaks the "use_tab_stops" option"
From the default sublime settings files:

[code]

When this plugin is enabled, that option does not work. When this plugin is disabled, the option is honored.

[2015-04-15 23:45] zhengbli commented on #147
Can you elaborate what exactly is not working?

I tried it on my machine, and got the following behavior:
![tab_stop](https://cloud.githubusercontent.com/assets/1171301/7171547/ae0cec0a-e38e-11e4-9604-6165c3d16b61.gif)

Is it different from what you expected? Thanks!

[2015-04-16 00:00] sccolbert commented on #147
If you have `translate_tabs_to_spaces` set to `true`, then when `use_tab_stops` is `true`, pressing `backspace` at the point where a tab was inserted will remove *all* the spaces inserted for that tab, instead of just a single space character.

For example, if you open a brace and press `enter`, the next line will auto-indent. Pressing `backspace` once should remove all spaces inserted for the ind

[2015-04-16 00:35] billti commented on #130
Thanks @sccolbert .  In general we need to work on error communication and resiliency.  We are planning to improve here.  The Sublime console I'd reserve for more troubleshooting/diagnostics. Something like this, which is an error in the TypeScript project itself, we need to figure out a way to surface in a more user-friendly manner.  Thanks for the feedback.

[2015-04-16 01:29] steveluc commented on #147
This is a known problem.  The issue is that Sublime does not report the buffer changes it makes when it applies its algorithm to backspace.  Therefore we don't know what has changed in the buffer.  We haven't found a way yet to support this setting.  We did just find a way to support any setting for translate_tabs_to_spaces and we are optimistic we'll find a way to efficiently support use_tab_stop

[2015-04-16 01:49] sccolbert commented on #147
@steveluc thanks for the update. I agree about not sending the entire buffer on every backspace.

[2015-04-16 13:52] bunnycode opened #149 "Incorrect syntax highlighting with multiple overload signatures and ; is left out"
![screen shot 2015-04-16 at 9 49 49 am](https://cloud.githubusercontent.com/assets/2212259/7182232/f835aecc-e41d-11e4-8af8-dea0d7cb6246.png)

Things get even more weird when:

![screen shot 2015-04-16 at 9 51 20 am](https://cloud.githubusercontent.com/assets/2212259/7182268/3b3b1216-e41e-11e4-84ba-bc15eea03b62.png)

(I realize this is fairly low priority ... as I just realized today that putting a

[2015-04-16 14:15] bunnycode opened #150 "No syntax highlighting for primitive class members on a succeeding line."
![screen shot 2015-04-16 at 10 13 37 am](https://cloud.githubusercontent.com/assets/2212259/7182757/768e979a-e421-11e4-8b6a-3466fcfe5d9a.png)

[2015-04-16 14:29] bunnycode commented on #150
Looks like this also affects multi-line object literals as well:

![screen shot 2015-04-16 at 10 28 35 am](https://cloud.githubusercontent.com/assets/2212259/7183102/7f9372c8-e423-11e4-83fd-3a97d158aef5.png)

[2015-04-16 19:00] blakeembrey commented on #149
Was search for "semicolon" and almost overlooked this issue. I figured I'd note that this also affects the navigation of `super+r`.

![image](https://cloud.githubusercontent.com/assets/1088987/7188933/a6e91c6e-e451-11e4-9371-cfbbe0f76caf.png)

[2015-04-16 21:27] billti commented on #12
Per above, the service/protocol is part of the TypeScript repo (specifically, see https://github.com/Microsoft/TypeScript/blob/master/src/server/protocol.d.ts#L477 ).  The Sublime plugin just surfaces the properties of the JSON it is given.  Please open an issue there if still desired.

[2015-04-16 21:27] #12 closed

[2015-04-16 21:32] billti commented on #41
I've implemented the signature help popup in the pull request Fiona referenced (if using ST3 build 3070 or later).  There is also an overloads panel (which works on ST2 also) which shows all signature overloads, and if one is selected, will insert the parameters as snippets that can be typed over.  You can trigger this via Command Palette, or type a '?' inside the opening paren of the argument lis

[2015-04-16 21:32] #41 closed

[2015-04-16 21:39] billti commented on #56
This is part of the Sublime UX, and our behavior here is consistent with Sublime.  You can up/down with the cursor (which admittedly isn't the best for a very long list), or start typing to narrow the list via fuzzy search.

If we get a lot of feedback we can think about augmenting the Sublime behavior here, otherwise it seems optimal to behave as 'native' as possible.

[2015-04-16 21:39] #56 closed

[2015-04-16 21:44] billti commented on #59
@steveluc.  Ping on this.  You mention above you have a fix, did this not get checked in yet?  I'm still seeing the 'method' param get underlined.

[2015-04-16 21:47] billti commented on #95
Any final thoughts on this?  Otherwise I think this is too ambiguous.  There's a few heuristics we could try, but not sure if the cost justifies the value.

[2015-04-16 21:50] steveluc commented on #59
Fix is expensive because it involves a re-factoring of the find references view.   The re-factoring has other benefits (generalizes the find references view so we can use it for any list of code locations).  On the roadmap, but responding to perf and function bugs is a higher priority right now.

[2015-04-16 22:14] roblourens opened #153 "Arguments popup jumps to my second monitor when the autocomplete dropdown is also open"
![untitled](https://cloud.githubusercontent.com/assets/323878/7192477/eefeaf70-e44a-11e4-8a1d-4f0e3d0d014b.png)

In the picture, the green area is my second monitor on the right.
When the two popups are too wide to stay side by side, the popup with the function description jumps to the second monitor. Do we have control over this, or is this a Sublime issue? I would be happier with it running off

[2015-04-16 23:07] billti commented on #153
Interesting.... this must be a Sublime issue.  I actually set the location to be below the opening paren on the line (when args are on one line - as you have here), but Sublime shifts the popup over when it also displays the auto-complete list (if you set the COOPERATE_WITH_AUTO_COMPLETE flag - which is the only popup flag currently).

I've raised this in the Sublime issue tracker (https://github.

[2015-04-16 23:07] #153 closed

[2015-04-17 23:39] #126 closed

[2015-04-19 07:52] zoltan-mihalyi commented on #144
Using `--module commonjs` solved this problem for me.

[2015-04-19 16:11] tsteele3rt opened #154 "Jump Back doesn't work after Goto Definition"
When jumping back (Ctrl + -) after going to a definition (Ctrl + t, Ctrl + d), it does not return to the item you were on when using Goto Definition from this plugin.

It seems to possibly jump back to a previous location. So maybe the plugin needs to explicitly update the current location before going to definition???

[2015-04-21 00:07] zhengbli commented on #154
Actually after some experiment, I tend to think this is a sublime bug (or intentional behavior). Sublime will change the current location with some behavior, and unfortunately I haven't found any API to explicitly add the current location to the location history stack.

I tried 2 cases:
Case 1: in a non-ts file with the plugin disabled, click on one location (L1), then click on another (L2), then

[2015-04-21 08:51] zhengbli commented on #150
This is due to a syntax definition error for object fields declaration. Related fix PR #155

[2015-04-21 17:00] steveluc commented on #150
:+1:  Great!

[2015-04-21 17:01] dbaeumer commented on #136
Talking about lexical colorization. The sublime text made grammer.

[2015-04-21 17:02] dbaeumer commented on #12
Copied to https://github.com/Microsoft/TypeScript/issues/2850

[2015-04-21 18:41] #129 closed

[2015-04-21 19:07] zhengbli commented on #149
I understand that the syntax highlighting isn't working properly for function overloads, however I'm a little confused with the issue @blakeembrey mentioned though. Aren't you supposed to put semicolon at the end of the line if it is a property declaration in a interface/class?

[2015-04-21 19:28] blakeembrey commented on #149
@zhengbli I don't normally use semicolons and haven't run into any issues with TypeScript. I assume it's optional, like in most of JavaScript.

[2015-04-21 20:09] steveluc commented on #136
This looks OK when I paste it into a .ts file.  Could you say more about what is happening?

[2015-04-21 21:18] zhengbli commented on #136
I think he means the scope of ``createInterface`` is of the scope ``meta.block.ts``. Is that right @dbaeumer ? Does that affect ``ctrl + r`` or anything?

[2015-04-22 01:47] bunnycode opened #156 "Syntax highlighting busted for parameters following a union type"
Provided that the final element of the union contains only non-alpha numeric characters:
![screen shot 2015-04-21 at 9 43 33 pm](https://cloud.githubusercontent.com/assets/2212259/7265921/cf1b0284-e86f-11e4-8399-4ce9bc889fa7.png)

(i.e. replace `string|{}` with `string|(() => void)` and it works)

[2015-04-22 22:13] DanielRosenwasser opened #157 "Use an alternative JSON deserialization library"
I've heard through the grapevine that one of our current constraints has been JSON size due to the limits of parsing speed. A fairly recent [blog post](http://blog.dataweave.in/post/87589606893/json-vs-simplejson-vs-ultrajson) I read actually points out two incredibly capable competitors:

* [simplejson](https://github.com/simplejson/simplejson)
* [UltraJSON](https://github.com/esnme/ultrajson)

*

[2015-04-22 23:46] zhengbli commented on #150
Actually, the fix in PR #155 will not work without line ending delimiter (; / , / }) (the case mentioned in issue #149), because our solution for addressing #149 treats the new line character as a delimiter. A fix for both cases is hard and probably low priority for us, because there are many functioning bugs to fix at the moment. However it is definitely on the road map as we migrate to the new s

[2015-04-23 18:47] btesser opened #158 "Plugin Doesn't Support Tab Size: 2"
Occasionally (for example when adding a missing closing curly brace) code is automatically reformatted to 4 spaces.  My Sublime Text settings are 2 spaces, I have a tsfmt.json, and a .editorconfig-- all included below.  This is a huge pain!!
[code]

[code]

[2015-04-23 19:11] #119 closed

[2015-04-23 19:12] #95 closed

[2015-04-23 19:14] #84 closed

[2015-04-23 21:00] lucaswoj commented on #158
+1

[2015-04-24 00:13] zhengbli commented on #156
Fix PR #155

[2015-04-24 02:59] lucasmciruzzi opened #159 "Bad initial indentation config"
Every time I open a .ts file, the indendation is set to spaces instead of keeping my config of tabs. In my settings I have...

    "tab_size": 4,
    "translate_tabs_to_spaces": false,
    "typescript_auto_format": false

... and in my .editorconfig I have ...

    [*]
    charset = utf-8
    end_of_line = lf
    indent_style = tab
    insert_final_newline = true
    trim_trailing_whitespace = tru

[2015-04-24 05:05] zhengbli commented on #13
Does this issue still exist?

[2015-04-24 06:36] zhengbli commented on #159
This is a known issue, similar to #147. This happens because we need to constantly sync the buffer content with the content on server, and sublime doesn't report changes when buffer content changes when it applies its algorithm to backspace. We are working on a workaround.

[2015-04-24 18:24] steveluc commented on #13
I still see it once in a while.  The problem is that Sublime Text 2 doesn't call plugin_loaded and so we call it on the first on_activated event.  plugin_loaded can take up to a half second or so because it is starting the server process.  It is not simple to fix because it would require a way to queue work until the server process is started.

[2015-04-24 21:59] fionafung opened #160 "Upon ; or } when intellisense popup is up, we should dismiss the popup"

[2015-04-24 23:31] #150 closed

[2015-04-24 23:32] zhengbli commented on #149
Fixed in PR #155

[2015-04-24 23:32] #149 closed

[2015-04-24 23:32] #156 closed

[2015-04-27 18:22] #160 closed

[2015-04-27 21:21] rcchen opened #162 "Syntax highlighting incorrect for type literals"
[code]

The typed object literal for the return typing "{a: A; b: B}" wrecks syntax highlighting for the rest of the page. I have tried putting a semicolon after the B as well and the syntax highlighting is still incorrect. Is this an issue with my syntax, or is there a bug with the plugin?

![image](https://cloud.githubusercontent.com/assets/1175041/7358175/a6c49598-ece8-11e4-8ec4-8a3c2d46975c.pn

[2015-04-27 22:25] zhengbli commented on #162
Recent updates of the syntax definition files seem to address this issue. On my machine (latest on the master branch) your code shows up correctly:
![capture](https://cloud.githubusercontent.com/assets/1171301/7359290/8e0d2e44-ecf1-11e4-9acb-1e8b298f4335.PNG)

[2015-04-28 10:42] laktak opened #164 "Split language definitions from plugin"
Would it be possible to split the typescript language definition (tmLanguage, etc.) from the rest of the plugin? So it's basically what is was before you took over the `typescript` package?

I like the syntax highlighting but I prefer the Sublime way of code completion (where it allows me to complete anything instead of *intelli-sense*).

[2015-04-28 17:40] mhegazy commented on #164
We need an option to disable statement completion.

[2015-04-28 19:16] NekR commented on #158
And disabling typescript_auto_indent/format does not help. Should restart Sublime after that?

[2015-04-29 15:35] musicist288 opened #165 "Async reload broken"
Got the following traceback from the sublime console:

[code]

Looks like the last two merges stepped on each other a bit?
https://github.com/Microsoft/TypeScript-Sublime-Plugin/pull/163
https://github.com/Microsoft/TypeScript-Sublime-Plugin/pull/161

[2015-04-29 16:06] zhengbli commented on #165
Yeah you are right, the two commits broke each other. Fixed in #166

[2015-04-29 16:11] #165 closed

[2015-04-30 11:44] laktak commented on #164
Anything that disables all *background* operations would make me happy.

[2015-04-30 17:18] systembugtj opened #167 "TypeScript plugin cause sublime 3 hang up"
install the plugin on mac(yosemite 10.10.3) for sublime 3 (3083)
open one .ts file, make sure you some reference like ///
enter this.

then sublime hangup forever.

[2015-04-30 18:22] zhengbli commented on #167
Sorry about the perf problem. Can you do the following to generate a log file to help us identify the root issue:
1. open the "TypeScript.py" file in your package folder, change the ``logFileLevel = logging.WARN`` to ``logFileLevel = logging.DEBUG``
2. repeat the procedure that causes the hang, then close sublime text
3. post the content of TS.log in your package folder.

[2015-04-30 22:22] zhengbli opened #170 "The autocompletion is sometimes outdated when typing fast"
The auto completion is sometimes outdated, especially in Sublime text 2.

For example, the following code
[code]
If I type fast, the wrong completion list is shown as follows:
![untitled](https://cloud.githubusercontent.com/assets/1171301/7423697/aaba7094-ef4c-11e4-9359-9c61707959ac.png)

[2015-05-01 00:13] steveluc commented on #170
This is happening for me even with slow typing.  The completion list is the one from the previous completion request.

[2015-05-01 01:12] steveluc commented on #170
Fixed in PR #171

[2015-05-01 08:06] ddotlic opened #172 "Do not see arguments popup (Sublime 3 build 3084)"
Hi,

First, thanks a *lot* for you efforts on this plugin. Even in its preview state, it's immensely usable.

I though that the feature from subject might not have been developed, but I can see it in Ander's Build 2015 demo working just fine.

For the most part, plugin works great. But in case of method arguments, I never see them pop-up.

Here's a relevant snippet from the Sublime console:

[code

[2015-05-01 08:15] ddotlic commented on #87
This might be related to the bug I've just opened #172 - I'm not sure what the intent behind this bug is, but IIUC the editor should have popped up a "tooltip" with constructor arguments, same for any other method.

I'm confused because I've just seen video from Build in which this works just fine for Anders, but not for me, plus this bug is 'ancient' for the speed with which things progress aroun

[2015-05-01 08:17] ddotlic commented on #172
I found an issue which seems to be relevant, the screen shot accurately depicts a situation I'm in.

As soon as Ander's video goes online, I'll take a screen grab and post it here :smile:

[2015-05-01 09:03] zhengbli commented on #172
Hi, thanks for the feedback! The tooltip feature that Anders used is in master branch, but not in the released version (the one in sublime package control). We will release a new version very soon, which will include the tooltip feature and some other features (navigate-to, better syntax highlighting etc.) The new release will also come with TS 1.5 beta.

Regarding your error, I'm not sure I follo

[2015-05-01 09:10] ddotlic commented on #172
Hey @zhengbli , thanks for a quick response!

There's no error apart from the fact that method signature "tooltips" don't show up, I simply tried as a fellow developer to provide you with some more context (thus console output which is of course hidden by default).

Looking forward to the new version... now that I've used Code for a few days, the only thing I might be missing going back to Sublime

[2015-05-01 16:55] zhengbli commented on #172
The "peek" feature is kinda hard to implement given sublime's limited APIs for now. However sublime 3 is still under active development, so hopefully more APIs will be open later. The "Navigate to" feature is similar to sublime's own "go to symbol", but is cross files and based on semantic information instead of only syntactic information. For syntax highlighting we have received some bug reports

[2015-05-01 16:55] #172 closed

[2015-05-01 17:09] ddotlic commented on #172
Yeah, I'm not holding my breath for that one... luckily due to the way one can quickly navigate in Sublime it's not a big issue. It's cooler as a demo than it is practical.

Thanks for additional info and for closing the item.

[2015-05-01 19:44] #170 closed

[2015-05-01 22:38] DanielRosenwasser opened #174 "'super' not highlighted"
![image](https://cloud.githubusercontent.com/assets/972891/7438370/0555d040-f018-11e4-91c4-1f3426523642.png)

In general a bunch of keywords are still not accounted for such as 'from', 'as', etc.'

[2015-05-01 23:11] zhengbli commented on #174
Is there a good place that lists all the keywords in TS?

[2015-05-01 23:14] DanielRosenwasser commented on #174
A ***good*** place? No, but I wrote a pretty offhand one  here: https://github.com/Microsoft/TypeScript/issues/2536#issuecomment-87194347

[2015-05-01 23:16] zhengbli commented on #174
Thanks that looks pretty good to me. Will incorporate

[2015-05-02 05:34] buu700 commented on #159
+1, this is a blocker.

I wanted to switch from Arctic TypeScript for some of the nicer features in this plugin, but that isn't really an option when it mangles my code.

[2015-05-02 11:05] paulvanbladel commented on #144
@zoltan-mihaly thanks for that. Works !

[2015-05-02 17:06] Eisenspalter opened #175 "Autocompile options?"
The plugin does not compile on the fly on my system, what I have expected. Is that right? So it would be great to have an autocompile option.

[2015-05-02 22:23] mhegazy commented on #175
The plugin currentellu does not support compiling on save; You can run the compiler with --watch in a separate process to achieve the same effect. I would recommend using tsconfig.json to get a consistent experience in the plugin and on the command line.

[2015-05-02 23:18] Eisenspalter commented on #175
Thanks that will work for me.

[2015-05-03 01:06] Eisenspalter opened #176 "Code completion only works with import not with require statement"
Code completion only works with import not with require statement.

Examples:
Filename: app.ts (works)
[code]
Filename: app.ts (does not work)
[code]
Filename: app.js (does not work)
[code]
All 3 examples works with visual studio code.

[2015-05-03 01:20] mhegazy commented on #176
When you are using import the system knows you are importing a module called "fs"; that is a special syntax for importing modules. With the var case, you are referring to a function called require that takes a string and returns any (try goto def ctrl+t+d to see the definition in node.d.ts). In the latter it is just a function call and mothing special about it.

In general I would always use impor

[2015-05-03 02:36] Eisenspalter commented on #176
I know what you mean and I can follow your argumentation, but it is possible to handle different module formats, like commonjs or amd, with a module and/or node flag. The TS compiler and the new "sublime clone" visual studio code does this also. So I have code completion for all my javascript files too. That would be amazing. Please look at visual studio code. It does it perfectly. Microsoft says

[2015-05-03 03:11] #175 closed

[2015-05-03 11:19] elyulka commented on #167
I have similar issue on OS X Yosemite 10.10.3. Sublime starts to use 100% cpu.
TS.log if continuously filled with:

2015-05-03 14:14:30,580: 4402802688: DEBUG: Stream state: "init".  Read header: "None"

[2015-05-03 22:27] blakeembrey opened #177 "Can't type question mark in RegExp matching group"
I'm running the latest version on `master` and found I can't press the question mark after opening a matching group in a regular expression. For example:

[code]

Typing that should be enough to show that the next character won't accept a question mark. It's only directly after the bracket, I can type a question mark elsewhere.

[2015-05-04 12:23] elyulka commented on #167
Same happens in Sublime on Ubuntu 14.04LTS.

[2015-05-04 13:13] ddotlic commented on #167
I'm seeing the same or very similar on Windows 8.1 64-bit, running current master code. I have no triple slash references in any of my TS files. This happens _only_ on startup.

CPU spikes, occasionally I actually get a crash (trying to copy error text, but CPU is pegged) then lots of (like above) `0 byte line in stream when expecting header`. Just saw that I should enable debugging, which I just

[2015-05-04 16:11] steveluc commented on #167
Commit c23ada9 adds a check that exits the reader loop if the node process has exited.  This fixes both the reload problem and the case where node or the tsserver.js file are not found.  Please let us know if it does not fix your case.

[2015-05-04 20:12] billti commented on #177
This is likely due to my code to treat this as a trigger for argument help.  I can take a look at fixing this.

[2015-05-04 20:19] musicist288 opened #180 "tsconfig.json settings not taking effect"
Using master on Sublime Text 3 - Ubuntu 14.04.

I have a project with the tsconfig.json file

[code]

but I get the error: `Cannot compile external modules unless the '--module' flag is provided`

I replaced the tsserver directory with same files from typescript 1.5.0-beta and it seems to work just fine.  Are these suppose to be in sync?

[2015-05-04 20:29] billti commented on #157
I took a look at this when trying to improve the perf of the signature help (which was a very large payload).   Getting rid of the Python class model (as Zhengbo did for the other payloads above) was the biggest perf win, and made it quite fast.

I did look at some of the other JSON libraries, but the complexity of depending on binary modules (like ujson) seemed excessive - especially with the per

[2015-05-04 20:37] ddotlic commented on #180
Same here, I'm getting weird warnings about accessors only avaible when targeting ES5, which I am (based on my tsconfig.json)

Interestingly, this worked fine until this afternoon. What I did to today is I installed VS 2015RC but made sure that it did **not** put its copy of tsc on a path before node one which I've been using for days without issues.

The other thing I did was update to the latest

[2015-05-04 20:42] ddotlic commented on #180
I'm seeing significant difference between tsserver as shipped with 1.5 beta and the one in this plugin - is this normal?

Out of curiosity, why not use tsserver as shipped, it's in the path by definition (just next to tsc)?

[2015-05-05 00:35] zhengbli commented on #174
Fixed in #173

[2015-05-05 00:37] #162 closed

[2015-05-05 00:37] #174 closed

[2015-05-05 00:39] zhengbli commented on #159
Recent changes should fix the indentation issues. @buu700 @lucasmciruzzi could you give it a try?

[2015-05-05 00:40] zhengbli commented on #158
Recent changes should fix the indentation issues. @btesser @lucaswoj @NekR could you give it a try to see if it works? Thanks!

[2015-05-05 01:53] buu700 commented on #159
Seems to work for me. Thanks a lot!

[2015-05-05 02:53] lucasmciruzzi commented on #159
Seems to be working for me too. Thanks!

[2015-05-05 02:53] #159 closed

[2015-05-05 09:50] NekR commented on #158
@zhengbli as I understand it's only here in a repo, not in Package Control, so test plugin it should be installed from here, right?

[2015-05-05 17:13] zhengbli commented on #158
@NekR You are right, for now to test please clone the repo to your sublime packges folder, as instructed in the [wiki page](https://github.com/Microsoft/TypeScript-Sublime-Plugin/wiki/Dev-notes). If we are sure the recent issues are sorted out, we will release a new version to Package Control very soon.

[2015-05-05 17:39] aminroosta opened #181 "mouse-over summary ?"
Show **`QuickInfoDocumentation`** popup when mouse is over a function or variable.
Visual studio implements this feature.

I don't know if it's is **possible** or not, from what i have seen in sublime documentation
that might not be supported (or at least not documented).

[2015-05-05 18:22] steveluc commented on #181
Right now, Sublime does not support hover events or contextual mouse click events.

[2015-05-05 22:05] zhengbli commented on #180
Sorry a change I made yesterday was intended to incorporate several bug fixes made after 1.5 beta, but I committed a locally built version of tsserver.js instead. Changed them back in #182

[2015-05-05 22:17] zhengbli commented on #180
The reason why we haven't used the tsserver in the npm package may be we intended to have a different release schedule. However we are definitely considering the option as it would make the experience more consistent.

[2015-05-05 23:51] rigdern opened #183 "Nonword characters should trigger autocomplete"
Users shouldn't be required to hit tab/enter to autocomplete. Text should be autocompleted when you hit a nonword character (e.g. ".", "<>", "[]", "{}", "()"). For example, typing “document.bo” followed by a period should autocomplete to “document.body”.

Visual Studio supports this for C#. In VS, you can get this feature by unchecking the “Only use tab or enter to commit” checkbox in the intellis

[2015-05-06 00:13] danquirk commented on #183
Note VS supports this for TypeScript in VS2015.

[2015-05-06 00:27] rigdern commented on #183
It looks like this is currently broken in VS for TypeScript: Microsoft/TypeScript#315

[2015-05-06 00:36] danquirk commented on #183
The completion behavior you want is fixed in VS in https://github.com/Microsoft/TypeScript/issues/2482, the issue you referenced is just tracking the lack of an option to configure what characters cause the completion results to be committed.

[2015-05-06 12:37] ddotlic commented on #180
@zhengbli At this point we the users don't really care this way or another, but the one in the master of this project just plain doesn't work :smiley: , hence this bug report.

[2015-05-06 13:02] bunnycode opened #184 "No highlighting for debugger statement"
I don't feel like doing a PR for this so to make it easy:

TypeScript.tmLanguage:196
[code]

[2015-05-06 14:01] aminroosta commented on #180
any progress on this ?

[2015-05-06 16:04] billti commented on #184
Thanks @bunnycode .  Fixed with https://github.com/Microsoft/TypeScript-Sublime-Plugin/commit/5b5d6d1d016df4fab7daee6b734093d90a0e9b62

[2015-05-06 16:04] #184 closed

[2015-05-06 16:05] billti commented on #181
Per @steveluc , this is a Sublime limitation, and not something we can change.

[2015-05-06 16:05] #181 closed

[2015-05-06 16:35] billti commented on #183
I'm not convinced this is the right behavior to add.  As a general principle, we're trying to make our Sublime plug-in behave in a manner that will be very familiar to Sublime users, not try and recreate the Visual Studio experience.  I'm not aware of any other Sublime plugins that provide this behavior (and the native behavior doesn't).

Beyond if we should do it, is if we can do it.  I'm not sur

[2015-05-06 18:34] zhengbli commented on #180
The changes are in now. @ddotlic  @aminroosta could you give it a shot? Thanks!

[2015-05-06 18:50] ddotlic commented on #180
Pulled, restarted, no issues. Though it doesn't occur on every restart, so we'll have to wait and see.

[2015-05-06 18:53] aminroosta commented on #180
@zhanbos  works greak. :)

[2015-05-06 18:54] musicist288 commented on #180
Working here.

On Wed, May 6, 2015 at 2:53 PM amin roosta <notifications@github.com> wrote:

[2015-05-06 22:21] #180 closed

[2015-05-06 22:21] #158 closed

[2015-05-06 22:23] #86 closed

[2015-05-07 06:43] ddotlic commented on #167
I have not seen the issue in the last three days or so, most likely it has been fixed. I suggest you close this, we can always reopen if the problem re-appears.

[2015-05-07 06:49] #167 closed

[2015-05-07 20:45] billti commented on #177
Fixed with 38f74ce14456448ff

[2015-05-07 20:45] #177 closed

[2015-05-08 20:35] jgoz opened #187 "Settings change event triggering unnecesary calls to reconfig_file"
My setup:

- Sublime 3085 (Mac and Windows)
- [Vintageous](https://github.com/guillermooo/Vintageous)
- TypeScript-Sublime-Plugin (master)

I can't determine what is causing this behaviour, but it may be a bug in the Sublime settings API.

Basically, on every cursor movement in *normal* mode in Vintageous, the `tab_size_changed` event gets triggered, which then calls `reconfig_file` and issues a `

[2015-05-09 19:33] ludohenin opened #188 "Not working with portable version of ST3"
I does not work using the `package-control` on a portable version of Sublime Text 3.
A clone of this repo solved the issue for me

[2015-05-09 21:58] systembugtj commented on #167
Thanks for the fix. I will try it asap.

[2015-05-10 15:26] KhaledMohamedP commented on #167
the same here on my mac

[2015-05-11 15:48] Gilead opened #190 "Importing modules with require doesn't work with plugins"
Using custom requirejs plugins is not supported. This reports an error:

import MyModule = require("someplugin!./MyModule");

Obviously tsc can't know what the plugin does so one may argue reporting an error is the right thing to do, however most plugins preprocess (or load using alternative methods) resources matching the local file system hierarchy.

Unless there are better ideas I suggest to sk

[2015-05-11 21:32] #87 closed

[2015-05-11 21:54] zhengbli commented on #87
Close because with tooltips available, the function signatures will be showed in tooltips and won't be conflicting with error info if they both exist.

[2015-05-12 02:01] aicioara commented on #158
@zhengbli how often do you do releases? When should we expect this to be in the Package Control repo?

[2015-05-12 02:05] zhengbli commented on #158
@aicioara this release is taking longer than usual, but it can be expected early this week. Thanks for trying it out!

[2015-05-12 13:58] musicist288 opened #191 "Syntax Highlighting Bug"
There seems to be an issue with the syntax highlighting, at least inside the constructor. Looks like it's intreperting the `/*` sequence inside the string literal `"**/*.json"` as the start of a comment block.

![syntax-highlighting](https://cloud.githubusercontent.com/assets/368976/7588809/5caf4d26-f88d-11e4-9d96-e9c475a99afa.PNG)

[2015-05-12 15:45] billti opened #192 "Incorrect error spans"
I'm seeing this on Sublime Text 2 on OS X currently with the latest 'master' bits.  It's very easy to get the error spans out of sync or confused.  For example, see the below 1 char error span left in a valid function after any errors were fixed (the return type), or the one below that where there is one error (no property by that name exists) but it's showing up as 3 separate error spans:

![scre

[2015-05-12 15:48] billti opened #193 "Changes to tsconfig.json are not picked up until I restart Sublime"
If I have an existing tsconfig.json and change a setting, I need to restart Sublime before that setting takes effect.

For example, if I have "target": "es3", and write a getter, I get an error that getters are only supported in es5 (as expected).  If I modify my tsconfig.json to be "target": "es5", then the error persists until I reopen the project.

We should detect changes to tsconfig.json and

[2015-05-12 15:51] billti commented on #192
(Note: I just rolled back to the latest tag and see the same behavior, so this isn't a new issue in 'master').

[2015-05-12 19:14] jamiecounsell opened #194 "semicolon stops working"
When using the plugin, the semicolon stops working with no indication of why and no pattern. Restarting Sublime Text (3083) did not work for me, but toggling `typescript_auto_format` did.

[2015-05-12 19:16] jamiecounsell opened #195 "typescript_auto_format breaks editorconfig's tab preference"
When `typescript_auto_format` is enabled, it appears that certain operations will cause indentation to be replaced with tabs, even when the .editorconfig file specifies the use of tabs. The easiest way to replicate it is to enter a new line that is indented by the auto-format, then paste a variable from the same file. This took me a while to figure out, I thought it was .editorconfig not working,

[2015-05-12 22:27] zhengbli commented on #194
Do you install from package control or cloned the master branch from the repo?

[2015-05-13 20:16] danquirk opened #196 "'Goto Definition' should be 'Go To Definition'"
![image](https://cloud.githubusercontent.com/assets/7121557/7620078/2b359756-f972-11e4-8905-a12ed3e83713.png)

Goto is not one word in this context.

[2015-05-13 20:18] DanielRosenwasser commented on #196
:+1:

[2015-05-13 20:20] danquirk commented on #196
Maybe this isn't ours? Can we exclude it somehow?

[2015-05-14 00:00] aMarCruz commented on #194
Same issue here.
Win7 32bits, Typescript 1.5b, Sublime Text 3 build 3083. ts plugin 1.4 installed from package control.

[2015-05-14 00:45] zhengbli commented on #194
@jamiecounsell @aMarCruz can you paste the log output in your sublime console? Or better, can you do the following:
1. Go to the typescript plugin folder, edit the ``TypeScript.py`` file to make ``logFileLevel = logging.DEBUG``
2. Open sublime to reproduce the problem, then close it.
3. Open the ``TS.log`` file in the plugin folder (using other editors), paste the content here.
It could be due to

[2015-05-14 06:07] zhengbli commented on #196
I couldn't find instructions on how to hide or remove the item. It resides in (Packages folder)/Default/Context.sublime-menu.

[2015-05-15 20:58] #196 closed

[2015-05-15 21:53] zhengbli commented on #59
@steveluc Now we are working on the refactoring, is there any chance your fix can be incorporated too?

[2015-05-15 21:55] zhengbli commented on #136
@dbaeumer can you try the latest version and elaborate a little more what scope is expected? Thanks!

[2015-05-18 20:57] NekR commented on #158
@zhengbli

So, is it in Package Control yet? Still has the same problem.

[2015-05-18 21:02] zhengbli commented on #158
Yes the 1.4 was out last week. Could you do "list package" in your sublime and see what version your plugin is?

[2015-05-18 22:39] NekR commented on #158
Oh, it was still 1.3. By some reason I thought Package Control packages has auto-update. Just updated it, thanks! Hope all is good.

[2015-05-18 23:47] zhengbli commented on #158
Great. Please let us know if it fixes your problem :)

[2015-05-19 00:26] aicioara commented on #158
Package Control only updates if you reset Sublime. Had the same issue.

[2015-05-19 09:21] NekR commented on #158
Hmm.. I am not this is the bug, but it still have this problem:
![2015-05-19-1210-42](https://cloud.githubusercontent.com/assets/1189265/7699556/652b749a-fe21-11e4-9222-1970be2ad29f.gif)

My config is:
[code]

[2015-05-19 09:39] NekR opened #198 "Definition popup does not change its position when typing numbers in object literal"
See gif:

![2015-05-19-1236-03](https://cloud.githubusercontent.com/assets/1189265/7699946/064a2aa4-fe24-11e4-831a-b1dccda99e40.gif)

[2015-05-19 15:23] billti commented on #198
Hmmm, looks like maybe https://github.com/Microsoft/TypeScript-Sublime-Plugin/pull/152 wasn't merged before we published the package.  Sorry about that.  Will take a look and get this fixed up.

[2015-05-19 17:37] aicioara commented on #158
I have the same. It is annoying. It's probably for another ticket though.

[2015-05-19 17:41] aicioara commented on #194
@jamiecounsell how do you toggle `typescript_auto_format` ?
There is also a related issue, which might be more relevant. Having multiple cursors, hitting semicolon, only inserts semicolon on the first cursor. I believe it has to do because semicolon auto formats the enclosing line(s) and it stops propagating the event to the rest of the cursors. However, I don't want auto format of the text anyway

[2015-05-19 17:58] zhengbli commented on #158
@NekR if I understand correctly, the problem is that if you set syntax to typescript, indentation will be inserted for the closing parenthesis? Also, it would be easier for tracking if you can open another issue with the description, thanks.

[2015-05-19 18:50] jamiecounsell commented on #194
@zhengbli I can't replicate the issue right now. If it happens again I will post the log.
@aicioara glad you figured it out. That's how I did it too. Yes, that would be nice. If it happens again, follow @zhengbli and get the log. Better yet, maybe turn on the log all the time anyway! Hopefully we can get some more information to resolve this issue.

[2015-05-19 18:52] NekR opened #199 "Wrong indentation after break between curly braces"
Problem in action:
![2015-05-19-1210-42](https://cloud.githubusercontent.com/assets/1189265/7699556/652b749a-fe21-11e4-9222-1970be2ad29f.gif)

My config is:
[code]

I am not sure right now if is happens only for ```{}```, but it's really annoying as were mentioned in https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/158#issuecomment-103609334

[2015-05-19 18:54] NekR commented on #158
@aicioara yep, a lot of annoyance.

@zhengbli Sure, sorry for spaming here. It's now https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/199

[2015-05-19 20:30] zhengbli commented on #194
It seems that the way we trigger ``typescript_format_on_key`` command is breaking a range of default editing behaviors in sublime editor, like multi-cursor etc, because we interfere the text inserting process within the command. I'm considering move all the triggering to the ``on_modified`` listener, which in the worst case will guarantee the characters be shown.

[2015-05-20 01:05] zhengbli commented on #199
It turns that JavaScript has a special "JavaScript Indent.tmPreference" file that handles the mentioned indentation cases. Added to TypeScript also in PR #200.

[2015-05-20 01:29] v95 opened #201 "Auto-completion of statement by pressing Tab is not aware of surrounding code"
If I am typing `console.l` and hit the `tab` button (once the auto-complete dropdown appears), instead of simply adding `og();`, the line becomes the following:

`console.console.log();`

I am using Sublime Text 2 on Win10. Please let me know if more information is required.

[2015-05-20 06:27] NekR commented on #199
@zhengbli nice, thank you! Looking forward to test it.

[2015-05-21 13:14] tomitrescak opened #203 "Possibility to disable auto-completion"
Is it possible to disable the auto completion?
thanks

[2015-05-21 22:22] mdausmann commented on #194
+1 this is infuriating! also thanks @aicioara the setting change works.  BTW, are semicolons considered 'bad' syntax for typescript, or this is just a bug?

[2015-05-21 23:16] zhengbli commented on #194
@mdausmann no it is caused by the way we trigger auto format. The current implementation intercepts the ';' when the user types it, therefore if something goes wrong with the command, the ';' won't show up. We'll change the behavior soon to fix this. And semicolons are **encouraged** in typescript, so don't take it wrong. Thanks for the feedback

[2015-05-22 23:30] zhengbli commented on #201
I don't seem to repro problem on Sublime Text 2 with v1.4 of the plugin (from package control):
![capture](https://cloud.githubusercontent.com/assets/1171301/7781197/099993c0-009f-11e5-957f-3f0f3c7451c8.gif)

Notice a recent refactor change (#197) broke the support for sublime text 2 (sorry about that). If you want to install from the git repo, please wait after the fix (#205) to merge.

[2015-05-22 23:36] zhengbli commented on #188
The v1.4 in the package control works fine with portable version of ST3. Closing.

[2015-05-22 23:36] #188 closed

[2015-05-23 20:59] itajaja opened #207 "cannot import modules"
If i use the `-m commonjs` option from cli then I can do this in the code:

[code]

but in ST the plugin marks the line as an error saying:

how do I provide command line options to the plugin?

[2015-05-23 23:26] billti commented on #207
To specify options for the editor that you would normally specify on the command-line for the compiler, add a tsconfig.json file to the directory (or a parent directory) of your code.  The Sublime plugin for TypeScript will use the settings in this file.  See https://github.com/Microsoft/TypeScript/wiki/tsconfig.json

[2015-05-25 13:37] itajaja commented on #207
Oh. Thanks :) Do you think it's a welcomed PR if I make this more visible in the readme of the ST plugin?

[2015-05-26 05:56] zhengbli commented on #195
This was an known issue before v1.4 release, but now it should work with sublime text's tab settings.

And I don't quite understand the repro procedure you mentioned. Do you mean the following:
![195](https://cloud.githubusercontent.com/assets/1171301/7806035/bb538268-0330-11e5-9aa0-078088943d01.gif)
(Here the ``typescript_auto_format`` is enabled, and the ``indent using spaces`` sublime view sett

[2015-05-26 20:48] zhengbli commented on #192
This is caused by the way we do reloading differently on Sublime 2. I have a fix that will send out PR after the #205 is merged.

[2015-05-26 20:57] zhengbli commented on #192
See commit 784e70c

[2015-05-27 02:30] zhengbli commented on #194
I have a fix that will be sent PR after #205 merged, which will be very soon.

[2015-05-27 17:57] sccolbert opened #208 "Generic expressions in class body are highlighted incorrectly"
The attached image demonstrates the problem. When an expression in the class body has generic type parameters, it is highlighted incorrectly. The top two lines have the correct highlighting.

![badhighlight](https://cloud.githubusercontent.com/assets/137289/7843550/48bcb3d4-0478-11e5-9af1-26c2f65288b9.PNG)

[2015-05-27 22:35] zhengbli commented on #192
Fixed in #205.

[2015-05-27 22:35] #192 closed

[2015-05-27 23:26] zhengbli commented on #187
I suspect the issue is sublime itself too. Because the only place ``tab_size_changed`` is called is in ``settings.add_on_change('tab_size', tab_size_changed)``, which basically registers it as a callback to setting changes. We didn't called it anywhere in the code manually.

[2015-05-27 23:28] zhengbli commented on #13
I haven't seen this notice for a while after recent the refactor.

[2015-05-28 05:07] sudheesh001 opened #211 "Autocomplete fills in complete text even if a part of it is already written."
The autocomplete feature present in the TypeScript plugin automatically puts in the complete text that the user actually wants to write, even if a part of the text is already written, a small example is as follows

### Steps to Reproduce

[code]
1. Take the following code example
2. Try to add a `console.log()`
3. As soon as the user types the word `console.l` the <log()> appears in the dropdown a

[2015-05-28 05:22] zhengbli commented on #211
Reproduced with sublime 2 on windows. Investigating

[2015-05-28 15:30] billti commented on #13
I was still seeing it often yesterday testing the refactor work, so it is still there even after the refactor.

[2015-05-31 22:26] johnfn opened #212 "} clash with Vintageous"
If you install both the Vintageous plugin and this one, go to normal mode in Vintangeous and type }, you should jump to the next paragraph. Instead, a } is inserted.

I believe this is because you are assuming here https://github.com/Microsoft/TypeScript-Sublime-Plugin/blob/master/typescript/commands/format.py#L18 that you can safely insert the } key if the user types it. In the case of Vintageous

[2015-06-01 17:24] zhengbli commented on #212
This is being fixed in PR #209.

[2015-06-01 18:59] johnfn commented on #212
Awesome! Thanks for maintaining such a great plugin! :)

[2015-06-01 19:28] zhengbli commented on #211
It looks like the inserted ``console.log`` is actually a snippet instead of the normal auto completion. But I have very inconsistent behavior on my machine, sometimes the snippet shows up in the completion list and sometimes not.

[2015-06-01 21:30] zhengbli commented on #201
The same with #211
The problem is sometimes snippet is inserted instead of the completion information. Working on a fix.

[2015-06-04 14:46] robertdp commented on #207
@billti, I'm still getting that error even with the file, but only when editing files that are 2 or more folders deep. It seems as though the plugin is only looking in the file's current folder and the one above that.

There are no errors when compiling the project, but Sublime has red squiggles in almost every file.

[2015-06-05 00:00] johnfn commented on #72
Progress on this @hinzo or others? This is one feature I would really like to have.

[2015-06-05 04:55] #199 closed

[2015-06-05 04:55] zhengbli commented on #199
Fixed by #200

[2015-06-05 05:28] robertdp opened #213 "Not detecting tsconfig.json (Sublime Text 3)"
I have the file `./tsconfig.json` in the root folder of the project, with `"modules": "commonjs"` set correctly.

When editing any file 2 or more folders deep (e.g. `./src/journal/module.ts`), TypeScript reports an error for every import and export statement:

This error doesn't show up for files under `./src`, and there are no module/import errors when building the project.

Also mentioned in #20

[2015-06-05 06:47] LPGhatguy commented on #213
This is also reported in issue #180, which is marked as resolved. I'm not sure whether there has been a plugin release with the fix.

[2015-06-05 17:46] zhengbli commented on #213
The problem is that currently the server seems only search for two levels of directory, therefore when it goes deeper than that it cannot find the config file. Working on a fix.

@LPGhatguy The issue in #180 is different though. That one is caused by changes in the tsserver.js file that leads to missing config file even in the same directory.

[2015-06-05 21:54] #154 closed

[2015-06-05 22:40] #187 closed

[2015-06-05 23:05] zhengbli commented on #191
I don't seem to reproduce the problem (latest bit in master):
![capture](https://cloud.githubusercontent.com/assets/1171301/8016748/8242e256-0b9c-11e5-8bbd-91b4f0a7227e.PNG)

Can you give it another try? If it still occurs, can you provide a bit more about your code, like what is the outer scope and other things may interfere with the highlighting?

[2015-06-05 23:42] zhengbli commented on #193
Confirmed that this is a tsserver issue, there is no file watcher for the tsconfig.json. Will send a PR on their side to add this.

[2015-06-05 23:45] #207 closed

[2015-06-06 01:37] mprobst opened #216 "Performance issues on Angular code base"
I'm using Sublime Text 3, build 3083, on the Angular code base, with the TypeScript plugin installed via git at revision 2c19761, tried with node v0.10.38 and v0.12.4 with similar results.

At its worst, moving the cursor stalls the UI for multiple seconds and most TypeScript commands fail (go to symbol, rename, etc). I see "queue timeout" printed in the console. Restarting Sublime helps, but movi

[2015-06-06 02:16] zhengbli commented on #216
Just to clarify, when you say "moving the cursor onto a symbol", do you mean just click on the symbol, or do you mean using the "navigate to symbol" command?
Some commands are kept synchronous due to comparability consideration with sublime 2, which may indeed affect the performance.  However, the expensive ones like auto_completion and get_err are done asynchronous in Sublime 3 already.

[2015-06-06 02:17] mprobst commented on #216
Just clicking on it or navigating by keyboard.

Zhengbo Li <notifications@github.com> schrieb am Fr., 5. Juni 2015 19:17:

[2015-06-06 02:31] zhengbli commented on #216
Does the following recording seem to match your experience? I tried the procedure on my laptop:
![capture](https://cloud.githubusercontent.com/assets/1171301/8017889/b6ac6e4c-0bb8-11e5-8c92-93fce6fe043f.gif)
I did notice some lag, but no as bad. I wonder there might be something else going wrong. Could you help me with a log file? To get the log file:
1. go to the plugin folder and close sublime
2

[2015-06-06 03:07] mprobst commented on #216
It's hard to tell from the gif, but I think the lag is quite a bit more severe on my machine. Interestingly when using Visual Studio Code, there's no lag while navigating the file (I believe because it is async), but when triggering completions, they do take over a second to appear, sometimes three.

Here's a gist of the log: https://gist.github.com/mprobst/b88436cd0d808e45f64d

[2015-06-06 03:17] zhengbli commented on #216
From the log I do see a lot of "quickinfo" request (which is to update the status line) taking up 200~300 ms. It would be better to change that to asynchronous, or provide an option to turn it off. I'll experiment a bit.

[2015-06-06 03:27] zhengbli commented on #216
@mprobst can you give a shot of https://github.com/zhengbli/TypeScript-Sublime-Plugin/tree/asyncQuickInfo ?

[2015-06-06 04:15] mprobst commented on #216
@zhengbli indeed, that's a huge improvement - no more blocking on navigation.

[2015-06-06 04:19] zhengbli commented on #216
Awesome!

[2015-06-06 21:29] muhasturk opened #218 "Request: Implement official plugin for Atom editor"
There are some typescript pugins for Atom out there. Offical and fast plugin would be awesome.

[2015-06-06 22:13] DanielRosenwasser commented on #218
What's wrong with [atom-typescript](https://github.com/TypeStrong/atom-typescript)? @basarat seems to be doing great things with it from what I see.

[2015-06-06 22:24] muhasturk commented on #218
It increases Atom's opening time
![](http://i.imgur.com/iqhqeWO.png)

[2015-06-07 03:26] DanielRosenwasser commented on #218
That qualm doesn't warrant a dedication of resources to compete with an otherwise good project. Instead of duplicating effort, it would be better to contribute to atom-typescript.

[2015-06-07 03:26] #218 closed

[2015-06-08 06:37] zhengbli commented on #212
@johnfn this should be fixed in master. Can you give it a try?

[2015-06-08 06:38] zhengbli commented on #194
@mdausmann @jamiecounsell @aicioara @aMarCruz this should be fixed in master now. Can you guys give it a try?

[2015-06-08 12:07] ddotlic opened #219 "No Style for tooltip (master) & Font size in the tooltip (v0.1.4)"
Hi,

just realized that with the latest official released version (0.1.4) the tooltips (which I've had for quite some time because I used the HEAD version of the master from github repo) are finally colorized (this did not work - in the sense that popup was black text on white - before and still doesn't if I just clone the repo, weird).

However, the font size is a bit small, let me try to demonst

[2015-06-08 13:11] musicist288 commented on #191
It's still happening for me. Though I figured out a very small change that causes it.

It looks like it's broken when the opening curly brace is on a new line instead of next to the function name and arguments.

Broken:
![broken](https://cloud.githubusercontent.com/assets/368976/8035381/12f55eb4-0dbe-11e5-974b-5ecbbbc38c7b.PNG)

Working:
![working](https://cloud.githubusercontent.com/assets/368976

[2015-06-08 13:13] ddotlic commented on #219
LOL, I just looked in the package directory, is it really that simple... the popup is - or rather its template is - `popup.html`??

If so, I can temporarily patch this myself, but you should probably replace the font size by the one actually used in the editor. If you're already doing this (sorry for being ignorant) by, say, reducing the editor's font a little, then the code is a bit too aggressiv

[2015-06-08 13:43] ddotlic commented on #219
After some experimentation, changing `popup.html` does nothing to the final output. If it is used, it's not obvious how (at the moment can't look into the source code of plugin to figure this out on my own).

[2015-06-08 15:38] kuon opened #220 "Incorrect indentation"
When I use autoformat, the following block get the following indentation:

    toolsElement = h.div({ className: "row-tools" },
        h.button({
            className: "add-node",
            onClick: () => DataController.createNode(this.props.parentId)
        }, "Create new node")
        );

While I expect (Last line should be to the left):

    toolsElement = h.div({ className: "row-tools" }

[2015-06-08 17:14] zhengbli commented on #219
I too believe that the font size of the tooltip should be customizable. We will add that option soon. Appreciate your experiment with the plugin :)

[2015-06-08 19:08] zhengbli commented on #191
Can you give #215 a try? It should be fixed there.

[2015-06-08 19:12] musicist288 commented on #191
Works for me. Thanks!

On Mon, Jun 8, 2015 at 3:08 PM Zhengbo Li <notifications@github.com> wrote:

[2015-06-08 19:30] zhengbli commented on #191
Great!

[2015-06-08 20:02] zhengbli commented on #220
@mhegazy could you take a look at the formatting issue? Is that a known problem?

[2015-06-08 20:09] ddotlic commented on #219
@zhengbli No problem, I didn't really do much except tinker a tiny bit.

I also removed the bold font for the tooltip, maybe a better option would be to let people entirely (to the extent that template can/should be customizable) change the template? Not sure how that would work though because the file itself is kept in the plugin's folder and obviously gets rewritten when next update comes.

Than

[2015-06-08 20:50] zhengbli commented on #219
@ddotlic Sorry I just realize that you said you don't have the tooltip if cloning from the repo directly. That is not expected. Do you see any exceptions in the console?

[2015-06-08 20:56] ddotlic commented on #219
I actually have tooltips if I clone the repo, but it has been black text on white ever since I switched to the source version, including now (just pulled latest on this machine).

Here's how it looks

![nocolor](https://cloud.githubusercontent.com/assets/1737586/8045092/412ff82a-0e31-11e5-9655-b3b9ff4ca227.png)

If I delete the folder and install 0.1.4 through Package Manager I can get color toolt

[2015-06-08 20:57] ddotlic commented on #219
And no, I'm not seeing anything of note in the console.

The last 4 lines were:
[code]

[2015-06-08 21:53] zhengbli commented on #219
Looks like the problem only happens for 64 bit Sublime Text on Windows. Is that what you have?

[2015-06-08 23:18] zhengbli commented on #219
I think the problem is that the win 64 version Sublime cannot handle CR line endings in the tooltip html string. Should be fixed in PR #222

[2015-06-09 05:30] ddotlic commented on #219
Indeed, I am running 64bit "portable" version on Windows 8.1. Will try the fix once merged in master.

Strangely, installing normally (on the same 64bit Windows) works fine.

[2015-06-09 06:06] mhegazy commented on #220
I have ported this to the TS repo.

[2015-06-09 06:06] #220 closed

[2015-06-09 06:47] zhengbli commented on #219
It looks like the ``popup.html`` in the repo and the ``popup.html`` in the package control has different line endings. I guess it's due to git configuration, although from the history of that file nobody has changed it...

[2015-06-09 06:55] ddotlic commented on #219
Ah, yes of course, the `autocrlf` and friends... If only we (the whole industry) could forgo endless little issues due to the miniscule platform differences, sigh.
I've noticed that the tooltip has slightly different - shall I say better? - coloring than the code; please take a look at my first screenshot and note that `AnnotationPoint` is not colored light blue like most other types in other meth

[2015-06-09 14:41] #191 closed

[2015-06-09 20:38] zhengbli commented on #219
At the moment we are not trying to take over Sublime's own syntax rendering process (which might be possible but may affect performance greatly, as there is not really ways to define a code-based grammer like what Atom offers). The sublime's approach does have some issues, especially with line delimiters, but in most cases it is working fine. We will definitely looking into the new syntax format,

[2015-06-09 21:02] ddotlic commented on #219
@zhengbli Works like a charm, great.

[2015-06-10 07:40] zhengbli commented on #72
@johnfn I'm working on it, should be sending out a PR for discussion soon.

[2015-06-10 13:23] sudheesh001 opened #223 "Unresponsive plugin on_activated callback"
Leaving a typescript file open in SublimeText for a long time and then opening it up all of a sudden initially shows it like a text file with no syntax highlight, then throws the following error and then highlights itself.

![typescript slow response](https://cloud.githubusercontent.com/assets/4545925/8083394/d45d398e-0fa1-11e5-93b8-04510a66fea1.PNG)

[2015-06-10 18:18] zhengbli commented on #223
That is a known issue, same as #13. As sublime text 2 loads everything during import time, we don't quite have a good solution yet. Just out of curiosity, is there any special reason why you don't use sublime text 3 and stick to 2?

[2015-06-10 18:36] johnfn commented on #72
@zhanbos awesome, can't wait! :D

[2015-06-12 00:21] #216 closed

[2015-06-12 00:29] #223 closed

[2015-06-12 00:30] #212 closed

[2015-06-12 00:30] #194 closed

[2015-06-12 19:41] dbaeumer opened #225 "Incorrect coloring if code is sytactically incorrect"
class Person {

interface I {

}

Observe: interface is not colored as a keyword

[2015-06-12 19:42] dbaeumer opened #226 "Comment not colored correctly"
Some examples:
[code]
From looking at the grammer I think there are more places where comments aren't colored correctly

[2015-06-12 19:44] dbaeumer opened #227 "Strings not colored corretly if they occur at syntactically incorrect positions"
[code]

[2015-06-12 19:45] dbaeumer opened #228 "String expressions in field initializer not colored correctly if spawn multiple lines"
[code]

[2015-06-12 19:53] dbaeumer opened #229 "Grammer produces endless loop in first-mate"
First-mate is the text mate implementation used in Atom and VS Code. The following code snippet produces an endless loop in first-mate:
[code]

The problematic grammer part is: method-declaration.

The method declaration enter and consumes '<a> {}

The it interprets < as a type parameter again in a method-declaration, consume nothing (the entry is done using a look ahead and then leave the method

[2015-06-12 19:57] lukeed opened #230 "Incorrect Predictions"
Using a basic example, the TS plugin doesn't given options based on the object. Instead, it seems to just adopt the default Sublime behavior of showing the longest strings on the page.

![screen shot 2015-06-12 at 12 50 31 pm](https://cloud.githubusercontent.com/assets/5855893/8138740/6d69a84a-1102-11e5-8e3a-c86508b0c345.png)

[2015-06-12 19:59] lukeed opened #231 "Cannot Paste (OSX)"
Attempted to paste in a small chunk of code (6 lines) via `command + V`

I'm aware the plugin listens in on this key command to run `Paste and Format` but after ~10 minutes, nothing occurs.

[2015-06-12 20:13] zhengbli commented on #225
Yeah sublime's syntax coloring module is entirely based on regular expression, so incorrect syntax gives it incorrect scope, and there is mot much we can do about it. I consider the behavior as low impact.

[2015-06-12 20:14] #225 closed

[2015-06-12 20:31] zhengbli commented on #227
This is similar to #225. Basically for now our priority is to correct syntax highlighting for syntactically correct content.

[2015-06-12 20:34] zhengbli commented on #229
I'm not sure I follow. What is the issue if Sublime doesn't have this problem?

[2015-06-12 20:35] zhengbli commented on #230
This is probably because the server is not up. What is the console output when you start sublime? Also, which version of the plugin are you using?

[2015-06-12 20:37] zhengbli commented on #231
What version of your Sublime Text and what version is your plugin? Do you have any console output, especially exceptions?

[2015-06-12 20:44] lukeed commented on #230
@zhengbli Everything was up to date. Just discovered solution:

File wasn't saved / had no name... ergo the TS server wasn't doing anything with the file.

So, it's probably impossible mechanically, but a nice feature request would be to start evaluating ANY open TS files, not necessarily just the saved ones.

[2015-06-12 20:48] lukeed commented on #231
Closed -- was using unnamed file. See #230

[2015-06-12 20:48] #231 closed

[2015-06-12 20:50] zhengbli commented on #230
Yes the server wouldn't do anything if the file is not saved on disk. It is indeed possible to spin it up for an unsaved buffer although it may not be very high priority right now. I'll open a feature request for it for future revisit. Thanks!

[2015-06-12 20:53] zhengbli opened #232 "Fire up the server for unsaved buffer"
Now the server only works if the file has been saved on disk. It might be helpful for it to work on unsaved buffer also. i.e. as soon as the user set a file's syntax as 'TypeScript'.

[2015-06-12 20:54] zhengbli commented on #230
Closing this one, as a new feature request #232 is opened.

[2015-06-12 20:54] #230 closed

[2015-06-12 21:02] lukeed commented on #232
+1

[2015-06-12 21:02] lukeed commented on #230
Thanks much

[2015-06-12 21:38] #211 closed

[2015-06-12 21:39] #201 closed

[2015-06-13 01:28] #198 closed

[2015-06-13 01:29] billti opened #233 "Typing quickly in a argument list can cause the popup to disappear"
This appears to be a timing issue.  Typing slowly this rarely happens.  It looks like getCompletions is returning no results for the current position.  (Perhaps it is asking for completions on a position before the edits in the buffer have been processed?).

It appears to happen most often after entering a line-break in the middle of an arg list.

[2015-06-13 04:13] sudheesh001 commented on #223
@zhengbli There's no specific reason, I never really found a reason to move from ST2 to ST3 because ST2 managed most of the functionality I needed, but now since you mention it, I think i'll make the jump. :smile:

[2015-06-13 06:54] NekR commented on #198
Thanks!

[2015-06-13 17:09] v95 commented on #201
Thanks @zhengbli!

[2015-06-14 21:02] dbaeumer commented on #229
If you use the grammar inside Atom or VS Code (as we do) opening a file with the above text makes the first-mate code loop forever. We are working on a PR for first-mate to handle that more gracefully. However a grammar that have rules that don't consume anything are always dangerous.

[2015-06-15 08:05] alexandrudima commented on #229
The grammar rules trigger an infinite loop. It reaches a case where it enters a rule, then pops it, then enters it again, etc, all without advancing the stream. Sublime most likely has written code especially to protect against grammars with similar infinite loops patterns. IMO, the fact that Sublime doesn't show a problem does not mean that the grammar is bug-free, it just means that Sublime has

[2015-06-15 08:41] blendsdk opened #234 "Auto comment generation"
Hi,

Is there a way the plugin can generate comments? For example I would like to be able to type:
/**[hit enter ENTER] on top a function/class/interface and get some comment generated based on the object that the comment is placed up on.
Any advice?

[2015-06-15 14:01] joltmode opened #235 "ERROR: can not send request; node process not running"
I installed TypeScript for Sublime for the first time and it worked like a charm. All of a sudden I am getting errors about node not running.

Excerpt from console:

    spawning node module: C:\Users\psycketom\Desktop\ST3\Data\Packages\TypeScript\tsserver\tsserver.js
    Found node executable at node
    2015-06-15 16:48:25,048: 12592: ERROR: can not send request; node process not running

I just

[2015-06-15 17:21] DeezCashews commented on #235
Getting the same thing here.

Windows 7 x64
node v0.12.4
Sublime Text 3, build 3083

[2015-06-15 18:01] DanielRosenwasser commented on #235
How are you opening Sublime? Is node in your system's PATH variable?

[2015-06-15 18:06] zhengbli commented on #235
Is it happening on the latest bit on master? Looks like it can find the node path correctly, but cannot start it for some reason.

[2015-06-15 18:10] zhengbli commented on #234
This seems to be implementable via snippets. We may add it at some point (as we have tons of other enhancement to prioritize right now), but pull requests are always very welcome.

[2015-06-15 18:52] DeezCashews commented on #235
Yes node is on my path.  I am starting sublime from `D:\<somedir>\subl` as sublime is on my path too.  I can run `node D:\sublime3\Data\Packages\TypeScript\tsserver\tsserver.js` just fine from the command line also, but sublime3 was still giving the same errors in D:\sublime3\Data\Packages\TypeScript\TS.log.

[2015-06-15 18:56] zhengbli commented on #235
@DeezCashews  is the problem also occasional for you? And is your plugin installed from the package control or cloned from the repo?

[2015-06-15 19:02] DeezCashews commented on #235
Installed from the PackageControl.  I'm not sure if it's occasional or not right now.  I had it fixed temporarily I think by tweaking env, but then broke it on purpose to figure out solution for @joltmode but now I can't seem to get working again so I guess it could be occasional.

[2015-06-15 19:43] DeezCashews commented on #235
Ok, so I figured out WHAT is breaking it, but no idea why...

Executing D:\sublime3\subl.exe = errors above
Executing D:\sublime3\sublime_text.exe = lovely code assist from tsserver.js :)

I must have accidentally opened it with sublime_text.exe before with an Open With... from the Windows Shell before, I almost always use `subl` from the command line).

Can anyone try to repeat?

[2015-06-15 19:45] DeezCashews commented on #235
@joltmode are you using `subl.exe` also?  If so, try using `sublime_text.exe` instead and let us know what happens.

[2015-06-15 20:20] zhengbli commented on #235
Interesting. I didn't know that subl.exe could be different from sublime_text.exe. I'll do more research on that.

[2015-06-16 02:42] DeezCashews commented on #235
Well it's only 140k vs the 5.5M so it's not just a copy or anything, but yeah, no idea why.  A complete shot in the dark would be it obviously has to execute the actual sublime_text.exe somehow, so perhaps it is then being executed with different privileges than the Windows user executing it directly.  I just mention this because a lot of sublime plugins seem to write to temp directories which is

[2015-06-16 03:36] DeezCashews commented on #235
Well, more power to you guys for writing python because the last half hour figuring out proper indentation, simple exception handling, etc. was brutal for me, but I managed to learn a little and modified the code to get you this information:
[code]

[2015-06-16 03:47] zhengbli commented on #235
@DeezCashews Thanks for all the research! Looks like this is related http://www.sublimetext.com/forum/viewtopic.php?f=3&t=2464.

[2015-06-16 04:13] zhengbli commented on #235
Since I can't repro the problem on any of my machine, can you do a ``print(node_path)`` before line 69 in ``nodeclient.py`` to see if the path is right?

[2015-06-16 04:15] DeezCashews commented on #235
Ahhh, interesting.  One more set of tests given that info shows:
1. Both `sublime_text.exe` and `subl.exe` fail from the command line
2. Double clicking sublime_text.exe works but double clicking subl.exe still causes error
3. `start sublime_text.exe` works from command line but `start subl.exe` still causes error

And to answer your question: node_path is just "node" as assigned previously becaus

[2015-06-16 05:34] DeezCashews commented on #235
I give up, my eyes are bleeding.  For anyone else who comes across this, the workaround is to create a sublime.bat file with the following contents `start C:\<pathto>\sublime_text.exe %*` and just call `sublime <args>` instead of using subl.exe or sublime_text.exe from the command line.

[2015-06-16 05:41] zhengbli commented on #235
The problem is that both subl.exe and sublime_text.exe works for me. I'll find a win 7 VM tomorrow to try it on, it is indeed very strange issue.

[2015-06-16 05:45] joltmode commented on #235
5 runs of subl.exe - 5/5 error.
5 runs of sublime_text.exe - 5/5 no problems.
Some runs from a shortcut I've created and using `st`, that previously pointed to `subl.exe` and now points to `sublime_text.exe` - no problems.

Fun. :D

[2015-06-16 10:40] DeezCashews commented on #235
@zhengbli Win 7 Pro x64 here FYI

[2015-06-16 20:18] jonathandturner opened #237 "lib.d.ts is out of date"
Looks like the lib.d.ts in tsserver is out-of-date.  There are some updates like:

getContext(contextId: "2d"): CanvasRenderingContext2D;
getContext(contextId: "experimental-webgl"): WebGLRenderingContext;

Can we pull a fresh lib.d.ts?

[2015-06-17 17:29] DanielRosenwasser commented on #235
@DeezCashews, this may sound like a joke, but it is a legitimate question: have you tried restarting your computer? I'm taking a shot in the dark, but there may be something about your PATH variable not being appropriately propagated.

[2015-06-17 17:34] joltmode commented on #235
Ha, good point - no I haven't restarted.

Though, as I already edited in the first post, I added the correct `node_path` entry to my `User.sublime-preferences` - didn't change a thing. The `sublime_text.exe` instead of `subl.exe` is working flawlessly, though.

[2015-06-17 19:44] DeezCashews commented on #235
@DanielRosenwasser Of course, "3 times, you always reboot it 3 times" - [Chip (nsfw)](https://www.youtube.com/watch?v=W8_Kfjo3VjU&t=65)

But yeah, no change.

[2015-06-18 05:04] DanielRosenwasser opened #240 "No way to trigger signature help"
The "overloads panel" is a thing, and so is "quick info", but there doesn't appear to be a way to trigger signature help manually without adding a set of parens.

Signature help as it exists is way more helpful to me than the overloads panel, and there's also no way to get signature help when typing out a tagged template.

We may also consider subsuming the overloads panel with the signature help

[2015-06-18 05:20] DanielRosenwasser opened #241 "NavigateToSymbol dialog flitters when typing suggestions"
When typing navigate-to suggestions on a Mac, I get a choppy experience as the menu keeps disappearing and reappearing. Not sure if this repros on Windows.

[2015-06-18 07:17] zhengbli commented on #241
This is known with large files, as it does a new search with every key stroke. Maybe change the behavior to async somehow could help. How large file (project) are you working on?

[2015-06-19 02:11] zhengbli commented on #72
@johnfn FYI pr #243 is up, any comments about the design is welcome!

[2015-06-19 02:49] zhengbli commented on #240
It is added in master at e1bcaaf0980d8e09aa2ec9b9ae073b343e97f520. Try search for the command: "TypeScript: SignatureInfo"

[2015-06-19 02:50] zhengbli commented on #237
Will be updated with the 1.5 release branch soon

[2015-06-19 04:34] DanielRosenwasser commented on #241
Just working on the TypeScript compiler (i.e. `src/compiler/`). We can discuss it whenever I get back in. Is there another issue tracking this, or should this be marked as a bug?

[2015-06-19 21:22] kenhowardpdx opened #244 "Wrong output path when using 'out' property in tsconfig"
The `tsc` command line tool works perfectly, but when using the new build feature I am having an issue when using the `out` property to combine all of my TypeScript files into a single file.

To be clear, `outDir` is being ignored when `out` is used, which is the same behavior from the CLI tool. But I want to set my `out` path to `js/ts-bundle.js`. Works great with `tsc`, but with the Sublime Text

[2015-06-19 22:20] hoanhtien opened #245 "Errors get logged at every keystroke when there is an empty view group"
Repro steps:
1. Enable two-column layout. Open a ts file on the left column while leaving the other column blank.
2. Close and re-open Sublime.
3. Open the console (<code>Ctrl + `</code>)
4. Start typing something in the ts file. The following error gets logged in the console at *every keystroke*:
[code]
Screenshot:
![image](https://cloud.githubusercontent.com/assets/1707813/8264037/3f16dc12-1696-

[2015-06-20 13:33] kuon opened #246 "TypeScriptFormat removes all indentation"
I am using the plugin v0.1.4 on Mac OS X with sublime build 3083 and all of a sudden the "typescript_format_document" command stopped working.

What it does now is remove the entire indentation (removing all leading spaces).

The rest of the plugin seems to work (syntax check and completion).

I have not installed any other plugin in the meantime, and I am quite positive I did not change my settin

[2015-06-23 07:03] #244 closed

[2015-06-23 07:08] #237 closed

[2015-06-23 07:08] zhengbli commented on #237
Fixed in #247

[2015-06-23 07:08] #240 closed

[2015-06-23 07:09] zhengbli commented on #245
Fixed in #248

[2015-06-23 07:09] #245 closed

[2015-06-23 17:35] DanielRosenwasser opened #249 "Cannot edit from beginning of NavigateTo input field"
![navigatetotyping](https://cloud.githubusercontent.com/assets/972891/8312755/78a75916-1993-11e5-8e4b-da3da3e9d00f.gif)

[2015-06-23 17:37] DanielRosenwasser opened #250 "'namespace' keyword is not colorized"
As of TypeScript 1.5, the `namespace` keyword can now be used in place of the `module` keyword. The grammar file should reflect it.

[2015-06-23 19:11] hoanhtien opened #251 "close_all should not terminate tsserver"
Repro steps:
1. Open some ts files.
2. File > Close All Files, or Ctrl + Shift + P then "File: Close All".
3. Errors in console:
[code]
This is because tsserver terminates before all `on_close` callbacks are done.
4. Now open a ts file, you should see the typescript plugin does not work anymore.

[2015-06-23 22:27] #208 closed

[2015-06-23 23:13] sccolbert commented on #208
cheers!

[2015-06-24 20:02] hoanhtien opened #255 "Allow user to configure path to tsc and tsserver"
For now we are shipping a TypeScript compiler and language service along with the plugin. However, some users have the tendency to stick with certain version of TypeScript and want to use that version in the plugin. It would be good to give them the ability to configure the TypeScript version they want to use.

**Current state**
Currently we have a setting "typescript_proc_file" to specify path to

[2015-06-24 22:22] amritk opened #256 "Include .d.ts file for code completion"
I couldn't find much documentation on the .tsconfig.json file, but is it possible to reference a definition file for the project? Right now I have one .d.ts file that references everything, referenced in my grunt config, so I don't need to include it at the top of every file. It compiles fine, but I was wondering if I can get sublime to read this file so I can get proper code completion without ha

[2015-06-24 23:01] hoanhtien commented on #249
Quick panel does not support dynamically reloading the item list. Here we did a hack by closing and re-opening quick panel whenever the input field is modified. I don't see a way to fix this bug for now.

[2015-06-25 00:06] #250 closed

[2015-06-25 00:19] hoanhtien commented on #246
@kuon Do you see any error printed in the console? Does restarting Sublime help?

[2015-06-25 01:11] hoanhtien commented on #13
One way to consistently repro this issue is:
1. Restart Sublime
2. Drag & drop a bunch of large ts files into Sublime.

[2015-06-25 01:49] hoanhtien commented on #203
You can disable auto completion *globally* by setting `"auto_complete": false`: https://www.sublimetext.com/docs/2/auto_complete.html

Do you mean to disable the auto completion for TypeScript files only?

[2015-06-25 01:59] hoanhtien commented on #226
The colorization issue in `var x = new /*asdasd*/ String();` is fixed in https://github.com/Microsoft/TypeScript-Sublime-Plugin/pull/238.

[2015-06-25 02:33] chbrown opened #257 "Auto-formatting in version 1.5 breaks undo history"
The "Typescript Format On Key" action prevents undoing past the point at which the action was applied.

To replicate:

1. Ensure that you have the latest version of the TypeScript-Sublime-Plugin installed in Sublime Text
2. Create a new file and save as a file with a `.ts` extension so that the syntax gets set to TypeScript
3. Enter the following code: `function log(entry: {message: string`
4. Typ

[2015-06-25 04:41] zhengbli commented on #256
The documentation of ``tsconfig.json`` can be found at https://github.com/Microsoft/TypeScript/wiki/tsconfig.json. You have to include both your file and the .d.ts file in the ``files`` array though, otherwise your file referring to the .d.ts file will be excluded from the configured project, which causes no information taken for auto completion.

[2015-06-25 17:55] DanielRosenwasser commented on #249
Did we ever file a request with [SublimeTextIssues](https://github.com/SublimeTextIssues/) to see if that could be supported?

[2015-06-25 18:10] zhengbli commented on #249
Filed https://github.com/SublimeTextIssues/Core/issues/908. Thanks for the suggestion!

[2015-06-25 18:16] amritk commented on #256
Thanks

[2015-06-25 18:16] #256 closed

[2015-06-25 18:56] DanielRosenwasser commented on #249
Awesome, thanks @zhengbli.

[2015-06-25 19:26] DanielRosenwasser opened #260 "Plugin crash from call to 'set_timeout'"
Here's part of the debug info from my console:

[code]

[2015-06-25 19:37] zhengbli commented on #260
Can you provide the context?

[2015-06-25 19:41] DanielRosenwasser commented on #260
Unfortunately I don't know; I was just typing and by the time I realized quick info wasn't working, I wasn't able to recall any steps.

[2015-06-25 19:45] DanielRosenwasser commented on #260
@zhengbli it looks like it's just a matter of the arguments being mixed up in `work_scheduler.py`:

Sublime's set_timeout is declared as

[code]

The way it's invoked is

[code]

[2015-06-25 19:47] zhengbli commented on #260
Yeah I just realized that too. Will fix soon, thanks!

[2015-06-25 19:50] zhengbli commented on #260
Fixed along with the other bug fix in commit 4fcf4f5aaaf8b80df7e664bd168f167da683b360

[2015-06-25 20:03] DanielRosenwasser commented on #260
Awesome - in the future let's refer to pull requests (i.e. here we'd just say the fix is in #259), and also avoid conflating bug fixes, even if the changes are small.

[2015-06-25 20:13] zhengbli commented on #260
Sure, thanks for the tip!

[2015-06-25 20:42] hoanhtien commented on #260
:+1:

[2015-06-26 13:51] DanielRosenwasser opened #261 "Crash from what appear to be two similar calls"
[code]

Note that these stack traces either contain calls `set_features` and `reconfig_file`, each which use

[code]

and

[code]

Since the exception is "invalid argument" this might be the problem.

[2015-06-26 15:02] NekR opened #262 "Something wrong with TypeScript syntax highlights"
This is how it looks now, once (recently) I made upgrade to latest version in Package Control.

![ts](https://cloud.githubusercontent.com/assets/1189265/8380243/5cdd1a58-1c2d-11e5-939d-5f7001b69b3b.png)
![ts2](https://cloud.githubusercontent.com/assets/1189265/8380244/5cdd86c8-1c2d-11e5-9cef-f900015e04b1.png)
![ts3](https://cloud.githubusercontent.com/assets/1189265/8380245/5ce02f54-1c2d-11e5-813b

[2015-06-26 15:15] DanielRosenwasser opened #263 "Consider regression testing for the tmLanguage file"
As certain issues keep coming up with the grammar file, there is no way to confirm a fix doesn't break other code apart from manual testing and hearing back from users. It would be helpful to take measures to prevent this.

[2015-06-26 18:49] zhengbli commented on #262
Is the ``getLevelTiles`` rendered correctly in your theme? If so, can you show us what is the content of the function? I know template strings (backtick) may cause issues here

[2015-06-26 18:57] hoanhtien commented on #263
+1 for this feature.

Instructions on how to make a syntax test file can be found here: https://www.sublimetext.com/docs/3/syntax.html.

[2015-06-26 19:08] hoanhtien commented on #261
Looks like the server died at some point. Do you have a repro?

[2015-06-26 19:39] zhengbli commented on #263
The link seems to only work for ``.sublime-syntax`` files, not for ``tmLanguage`` files, which is not compatible with Sublime 2. I can build a simple plugin for the testing, which outputs the scope of specified points in test case files. Then we check the baseline to validate.

[2015-06-26 20:04] hoanhtien commented on #263
+1.

I original thought a command (hidden from user) in our current plugin should do it. But making a separate plugin would benefit other Sublime developers who also need to test their tmLanguage.

[2015-06-26 20:19] DanielRosenwasser commented on #263
There's http://blog.macromates.com/2010/grammar-test-mate/ as well. If we had a TextMate grammar engine, we could just dump the scopes and test baselines like in the compiler.

Pinging @steveluc on this.

[2015-06-26 20:35] DanielRosenwasser commented on #261
Here's how this tends to happen for me:

1. Open up Sublime
2. Immediately start moving around, getting quick info etc.
3. Within 3-5 seconds, the "Find References window shows up for no reason
4. Close it, go back to my file, see a brief period in which all my file's colors disappear
5. My colors reappear.
6. No plugin operations work anymore.

This isn't consistent, but it does happen. Is there

[2015-06-26 20:58] zhengbli commented on #261
tsserver.js will save log files in the tsserver folder if you set an environment variable ``TSS_LOG`` with the value ``{level: "verbose"}``. I did see some lags with your step 1 and step 2, but not the Find References tab. Gonna try more.

[2015-06-26 21:03] hoanhtien commented on #262
Confirmed this repros when installing via Package Control.

[2015-06-26 21:04] NekR commented on #262
Nope. It seems that problem is in ```for``` loops, because problem always occurs after them. Here is 2 screenshots, one with my current theme and one with popular Monokai theme:
![ts](https://cloud.githubusercontent.com/assets/1189265/8387271/e4e8a160-1c5f-11e5-802d-90d3542b9538.png)
![ts2](https://cloud.githubusercontent.com/assets/1189265/8387272/e4eb3c2c-1c5f-11e5-9822-adefa57fdcf4.png)

[2015-06-26 21:17] DanielRosenwasser commented on #261
Thanks @zhengbli, just got it to happen again.

[code]

[2015-06-27 00:38] kuon commented on #246
Here is my TS.log output:

[code]

in sublime console I have no error.

A clean start of sublime does not clear the problem.

[2015-06-29 06:14] ggrks opened #264 "Typescript plugin breaks the "auto_complete_commit_on_tab" option"
[code]
This option does not work when typescript plugin is enabled.

[2015-06-29 14:11] DanielRosenwasser commented on #241
Actually, this is pretty bad; if I work on `src/services`, it's not that difficult for me to accidentally start entering text in the buffer as a result of this.

Perhaps we could try throttling requests; @CyrusNajmabadi might have an idea of whether or not in VS we fire off a NavigateTo request immediately after every keystroke in the search box, but if we waited a small interval after every keyst

[2015-06-29 16:52] steveluc commented on #241
We used to limit the number of responses to 50, to wait until at least two characters are typed and to also delay 30ms before sending a request.  With these parameters src/compiler and src/services were working well.

[2015-06-29 17:12] DanielRosenwasser commented on #241
@steveluc is there any reason we diverted from this behavior?

[2015-06-29 18:10] aicioara opened #265 "inequality signs break syntax highlight in 0.1.5"
Same bit of code:

- With `<`
![screen shot 2015-06-29 at 11 06 20 am](https://cloud.githubusercontent.com/assets/3248682/8414759/16c914e4-1e4f-11e5-80ce-ae57e1a7dcd9.png)

- With `==`
![screen shot 2015-06-29 at 11 06 27 am](https://cloud.githubusercontent.com/assets/3248682/8414762/1c4bf4d6-1e4f-11e5-989b-bad6053a507d.png)

Note: It used to work before the update.

Maybe it is a good idea to sep

[2015-06-29 18:51] hoanhtien commented on #265
@aicioara Thanks for the info. Looks like a dupe of or related to https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/262.

The syntax highlighting is pretty self-contained. You can always replace TypeScript.tmLanguage file with that of the previous version (0.1.4) or your own syntax definition.

[2015-06-29 18:53] aicioara commented on #265
Thank you for the fast response.

[2015-06-30 00:09] hoanhtien commented on #264
@ggrks A quick fix is to remove this part from `Default.sublime-keymap`:
[code]

[2015-06-30 05:59] zhengbli commented on #263
I wrote a simple plugin for scope output: https://github.com/zhengbli/SyntaxTests, and I'm exploring the feasibility to make it as part of Travis CI. Currently I just put the issues that people have encountered in the test cases.

[2015-06-30 09:14] ggrks commented on #264
@hoanhtien
It works, thanks.

[2015-06-30 23:36] zhengbli opened #268 "Add Syntax Support for TSX"
As the support for TSX files is merged into TypeScript repo, we should add support in the syntax definition file as well.

[2015-07-01 20:11] hoanhtien commented on #233
To keep the buffer content of the client side in sync with that of the server side, the plug-in constantly checks the last command in command history and if it is an `insert` command, performs the following logic:
(1) If the command inserts an `\n`, mark the buffer as "in need of reload". The `reload` request will be send later in the event handler for event `on_post_text_command_with_info`.
(2) I

[2015-07-02 02:56] ntilwalli opened #270 "Odd warning saying "Cannot compile modules unless '--module' flag is provided""
I am seeing an odd warning in Sublime 3, `Cannot compile modules unless the '--module' flag is provided`.

![image](https://cloud.githubusercontent.com/assets/8410254/8469093/039ebad6-2043-11e5-84d7-a95c2c79cd37.png)

But this warning goes away if I simple import a local external module which in this case has a trivial export.

![image](https://cloud.githubusercontent.com/assets/8410254/8469100/22

[2015-07-02 03:53] hoanhtien commented on #270
To get rid of the error in line 2, you can try including main.js and aurelia-framework.d.ts in the 'files' options in `tsconfig.json`. Something like this:
[code]

For more details, there is an example in https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/213.

It looks like a bug when the error goes away after adding line 3. Unfortunately I am not able to repro. It would be great if yo

[2015-07-02 13:33] ntilwalli commented on #270
@hoanhtien Nice! I'll update the files property in my `tsconfig.json` for now, but it would be nice if I didn't need to.  I've uploaded the files to reproduce the issue.  They're at:

https://github.com/ntilwalli/sublimebug

[2015-07-02 13:55] ntilwalli commented on #270
After updating my configuration file to include the `"files"` property, the warning does not go away.  My `tsconfig.json` looks like this:

    {
	"compilerOptions": {
		"module": "system",
		"sourceMap": "true",
		"noImplicitAny": "true"
	},
	"files": [
		"./src/ts/main.ts",
		"./typings/aurelia-framework/aurelia-framework.d.ts"
	]
    }

[2015-07-02 21:25] hoanhtien commented on #270
@ntilwalli I get this errors when compiling your project using command line:
[code]

Your tsconfig.json should be changed to:
[code]

After this change, you should no longer see the underline error. Please note that after modifying tsconfig.json, you need to restart Sublime for the change to take effect (*Issue https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/193: Changes to tsconfig.

[2015-07-03 11:17] ntilwalli commented on #270
Thanks.  That fixed it.

[2015-07-04 07:37] ddotlic opened #271 "Multiple else (or else if) statements disable colorization for the rest of the document"
Hi,

as title says, from what I can see this kind of code will essentially stop colorizing the rest of the document

[code]

With only one `else` things are fine, for my project only two or more `else [if]` blocks will case the colorization to vanish for the lines following the closing brace of the last `else [if]`.

It's not a big deal, but it is a bit annoying :wink:

[2015-07-04 11:13] ddotlic commented on #271
A bit more info, I've now modified one of the two files where I can observe this and the coloring started working... in the second file though it's still not working, so there might be something else at play besides from multiple `else [if]` statements, I'm trying to see what.

[2015-07-04 13:19] itajaja opened #272 "indentation defaults to 4 spaces"
no matter how the indentaion is set in sublime text, ctrl-T-F always indents by 4 spaces. Is there an option to change that?

[2015-07-04 13:25] itajaja commented on #272
I added `"indent_size": 2` to `Typescript.sublime-settings`, but it seems it doesn't change anything.,,

[2015-07-05 08:57] hoanhtien commented on #272
@itajaja You can use the following settings:
[code]

[2015-07-05 09:01] hoanhtien commented on #271
@ddotlic Is there a less-than sign i.e. `<` in your code? Might be related to https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/265.

[2015-07-05 09:33] ddotlic commented on #265
I can confirm that issue #271 is related, I can see the same effect with `<` sign but if I only have equality or other criteria the colorization fails for the rest of the file.

It's quite weird, but not a deal breaker as it works in 90% other cases.

[2015-07-06 05:06] #270 closed

[2015-07-06 09:19] hoanhtien opened #273 "Show tsconfig.json parsing errors"
User should be notified if there are errors in his/her tsconfig.json file.

This will be helpful in cases like https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/270.

[2015-07-06 10:31] dbaeumer opened #274 "export keyword not colored consitently"
See image

![capture](https://cloud.githubusercontent.com/assets/1931590/8520498/efe651a2-23da-11e5-91c0-dbb5d59807a8.png)

[2015-07-06 10:33] dbaeumer opened #275 "Comment between type and initializer not colored correctly"
var x: string /* comment */ = "foo";

[2015-07-06 10:40] itajaja commented on #272
it still uses 4 spaces, both with `tab_size` and `indent_size` set to 2... I'm on a windows machine. This are my current settings

[code]

[2015-07-06 18:38] zhengbli commented on #272
Can you try put the settings in your "User setting", like shown below:
![untitled](https://cloud.githubusercontent.com/assets/1171301/8530009/3ac7837e-23d3-11e5-98e8-3d88986d6965.png)

Also, notice that Sublime gives each view its own setting, which could override your global setting. To check that see the left bottom of your editor, and you should see something like "Spaces: 4". Make sure to chan

[2015-07-06 18:39] zhengbli commented on #275
@hoanhtien does this get fixed in #238 ?

[2015-07-06 18:41] itajaja commented on #272
no wait. I was talking about the Typescript preferences, not the Sublime preferences. Sublime preferences are set all right, the number in the lower right corner shows 2.

![image](https://cloud.githubusercontent.com/assets/697647/8530119/4b45d7ae-241f-11e5-9788-c4b5e2db9b15.png)

[2015-07-06 19:11] hoanhtien commented on #275
@zhengbli No, #238 only fixes comments in the `new` expression.

[2015-07-06 20:34] itajaja commented on #272
it solved, and I am not sure how. I restarted it a couple of times. I think the fact that I added `"indent_size": 2,` to the Sublime settings solved the issue. it's strange though, since all my other ST plugins worked with 2 spaces with no problem... Closing this, thanks for the support! :+1:

[2015-07-06 20:34] #272 closed

[2015-07-06 20:35] itajaja commented on #257
confirmed. Windows machine

[2015-07-06 21:23] #257 closed

[2015-07-06 23:49] hoanhtien commented on #274
@dbaeumer This actually works fine on Sublime Text. Can you confirm it is not a problem of VSCode (looking at the screenshot I think you are using VSCode)?

[2015-07-06 23:55] hoanhtien commented on #265
@aicioara @ddotlic We just release `v0.1.6` that includes the fix for this bug. Can you give it a try?

[2015-07-06 23:56] hoanhtien commented on #262
@NekR We just released v0.1.6 that includes the fix for this bug. Can you give it a try?

[2015-07-06 23:58] hoanhtien commented on #271
@ddotlic We just release v0.1.6 that includes the fix for bug #265. Can you help giving it a try?

[2015-07-07 00:05] NekR commented on #262
@hoanhtien of course :-)

Just tried, all seems good at a first glance :+1: Thanks for the update!

[2015-07-07 00:07] NekR commented on #268
Yes, please :+1:

[2015-07-07 06:10] ddotlic commented on #271
0.1.6 fixes this issue, thanks!

[2015-07-07 06:10] #271 closed

[2015-07-07 09:06] qbolec opened #277 "Finishing a line with semicolon deletes letters from the next line"
I try hard to use 2 spaces indentation everywhere.
[code]
TypeScript plugin fights against it, and while this is a hussle, I am ok with that.
But recently I observed that from time to time (maybe it's a timing issue?) several letters from next line are eaten.
In the attached screenshot I've tried to type in a line between lines 127 and 129.
I put my cursor at the end of line 127, hit enter, typed

[2015-07-07 09:35] stereokai opened #278 "Type completion for Javascript on Sublime Text 3"
i know you've provably read the title twice, so, yes - what do I need to do to get type completion for Javascript on Sublime Text 3?

I have installed `tsd` and type completion and declarations work for angular, jquery, etc. - however, not for plain JS.

I do know that there is the lib.es6.d.ts, it does cover ES2015.

So, what am I missing here? Thanks.

[2015-07-07 15:09] joneshf opened #279 "popup_manager only works for builds 3070+"
This should be mentioned somewhere, as otherwise it's nigh impossible to figure out why it doesn't work.

Original discussion on [gitter](https://gitter.im/Microsoft/TypeScript-Sublime-Plugin?at=55966195fda0bd877e081016).

[2015-07-07 18:18] kungfusheep opened #280 "Goto symbol in project... (ctrl/cmd+shift+r)"
Currently it's not possible to navigate directly to a class using goto symbol in project. Are there plans to implement this for TypeScript ?

Currently performing this action will take you to the compiled javascript rather than the TypeScript file.

Great work, by the way. Cheers.

[2015-07-07 18:20] zhengbli commented on #279
We did mention in the [readme](https://github.com/Microsoft/TypeScript-Sublime-Plugin#platform-support) that:

You should have intellisense (a.k.a auto completion) even if you are using an older version. Are you not getting that? Thanks.

[2015-07-07 18:21] zhengbli commented on #280
Have you tried ``ctrl + alt + r`` (navigate to symbol)?

[2015-07-07 18:25] zhengbli commented on #278
It is on our roadmap. We are doing some experimental work that lets ts and js files communicate about the type information, though for now it is not mature enough to release yet.

[2015-07-07 18:28] #265 closed

[2015-07-07 18:28] zhengbli commented on #265
Fixed in #267

[2015-07-07 18:29] #262 closed

[2015-07-07 18:29] #260 closed

[2015-07-07 18:47] hoanhtien commented on #277
@qbolec I am not able to repro this issue. Would you mind sending us a stripped-down version of your project?

[2015-07-07 19:19] qbolec commented on #277
Well, if I strip it down, the problem manifests slightly different:/
For example if I have a folder with just a single file app.ts
[code]
(with linux line endings and no trailing spaces) and try to add `this.bob();` between the two `this.charlie();` the only strange effect I observe is that the second `this.charlie();` gets indented by additional 2 spaces. The strangeness is in the non-determinism

[2015-07-07 20:46] hoanhtien commented on #277
@qbolec Thank you for the repro. This should be resolved by adding the following setting: `"indent_size":2` and restarting Sublime Text. Can you help check if this setting resolves your original issue (`this.debouncedInactiveTrigger();` gets wrongly formatted) too?

[2015-07-07 21:13] qbolec commented on #277
It did not solve the problem neither in the original app nor in the repro :/
I put the `"indent_size":2,` into the Preferences.sublime-settings file (Preferences > Settings - Default). Is it the correct place to put it?

[2015-07-07 22:13] hoanhtien commented on #277
Yes, it is the correct place.

I think there is an out-of-sync problem between typescript server and Sublime buffer. I'll look into it.

[2015-07-07 23:21] qbolec commented on #277
I've noticed that sometimes the line below the added line is not affected but there are 4 spaces added at the end of the inserted line.

[2015-07-07 23:38] kungfusheep commented on #280
Ah! Great! I didn't see that option in any of the menu's.

In that case, are there any plans to consolidate the two?

[2015-07-07 23:42] zhengbli commented on #280
The "goto symbol" is built-in with Sublime, so there is no way to change that. Though it should appear in the menu:
![untitled](https://cloud.githubusercontent.com/assets/1171301/8559892/2d83f932-24c7-11e5-99a3-4a55798a07eb.png)

[2015-07-07 23:51] kungfusheep commented on #280
Ah yeah... I was naively looking here ->
![screen shot 2015-07-08 at 00 46 00](https://cloud.githubusercontent.com/assets/6867511/8560002/3317493c-250b-11e5-8744-1ad894de0cd7.png)

That's just brought my attention to alt+, also, hah. Cool.

Okay thanks, consider the question closed from my perspective.

[2015-07-07 23:56] zhengbli commented on #280
That's a fair point though, we should probably insert an menu item in the Goto menu too. Thanks for the feedback!

[2015-07-07 23:59] zhengbli opened #281 "Create menu items in the "Goto" menu to increase exposure"
Related to #280.
It could be confusing for our users to find the "Navigate To Symbol" functions if we don't have an menu item for it.

[2015-07-07 23:59] #280 closed

[2015-07-08 01:26] joneshf commented on #279
Oh. I missed that.

Could that feature get its own section [here](https://github.com/Microsoft/TypeScript-Sublime-Plugin#features) that explains how to use it as well? I think this feature is great. I wasn't even aware sublime added a popup feature until I installed this package.

And yes, completion works. It's just that the popup_manager does not work for any build older than 3070 (including st2

[2015-07-08 05:07] zhengbli commented on #279
Sure. The readme file is a bit out of date. Thanks for pointing out!

[2015-07-08 07:48] stereokai commented on #278
I see. Is there an issue for it?

[2015-07-08 16:40] kuon commented on #246
I found something about this issue.

The issue seems to be the `tab_size` setting changing to 0 for some reason. When indentation stops working on a file, I can change the `tab_size` of the current file and it works again.

[2015-07-09 01:14] DanielRosenwasser opened #284 "Comments not correctly colorized"
Seen in TypeScript's `src/services.ts` file:

![image](https://cloud.githubusercontent.com/assets/972891/8585889/0d394250-259d-11e5-9636-258831fe2540.png)

[2015-07-09 23:54] hoanhtien commented on #284
No longer see this issue after upgrading the plug-in. I think this is a dupe of https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/265.

[2015-07-10 19:32] hoanhtien opened #285 "Syntax highlighting issue when there is no space preceding <"
Related to https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/265.

Issue:
![image](https://cloud.githubusercontent.com/assets/1707813/8627292/da8f8be4-26fe-11e5-97ce-2b2a8b257afa.png)

Correct:
![image](https://cloud.githubusercontent.com/assets/1707813/8627340/3e27dbf2-26ff-11e5-8751-7e8576cbd230.png)

[2015-07-10 19:39] hoanhtien opened #286 "FormatBlock command does not work"
Place the cursor inside this block and trigger FormatBlock command (`Ctrl + Shift + ]`)
[code]
**Expected**
[code]
**Actual result**
The code block does not get formatted. The following error shows in the console:
[code]

[2015-07-10 20:54] roblourens opened #288 "Coloring screwed up after a name that has "function" in it"
![capture](https://cloud.githubusercontent.com/assets/323878/8628858/279da838-270b-11e5-9ca2-5a84e4d8afd7.PNG)

[2015-07-10 21:16] #286 closed

[2015-07-15 00:19] pinandtucker opened #291 "Suggestion: Separate syntax coloring options for JavaDoc comments and regular comments"
Visual Studio has this for XML doc comments and normal comments in C#.

Rationale: I (and others) tend to use JavaDoc/XmlDoc comments on top of methods as a way to create visual separation between methods, even if there is no comment. These get muddy when they're the same color as the nested comments.

![screen shot 2015-07-14 at 8 18 03 pm](https://cloud.githubusercontent.com/assets/12430756/8688

[2015-07-15 10:50] dbaeumer opened #292 "Incorrect coloring using generics"
See screen shot
![capture](https://cloud.githubusercontent.com/assets/1931590/8696808/003d65e2-2af0-11e5-99fa-ea4f4798de5f.png)

[2015-07-15 20:20] #288 closed

[2015-07-15 21:18] hoanhtien opened #293 "Exception when drag-and-drop a typescript tab"
![draganddropexception](https://cloud.githubusercontent.com/assets/1707813/8709948/09d60cde-2afb-11e5-829e-c99db3ff2eda.gif)

Not critical but we don't like exceptions anyway.

[2015-07-15 22:52] #277 closed

[2015-07-15 22:53] #44 closed

[2015-07-15 23:28] zhengbli commented on #263
A test repo is already set up for regression testing. Close this issue.

[2015-07-15 23:28] #263 closed

[2015-07-16 00:28] #264 closed

[2015-07-16 00:33] hoanhtien commented on #268
This is done in pull request https://github.com/Microsoft/TypeScript-Sublime-Plugin/pull/283.

[2015-07-16 00:33] #268 closed

[2015-07-16 10:55] kidddddd1984 opened #295 "trouble in using this with Vintageous"
I have no idea about this :(
seems TSplugin is forced to run in debug mode.

[2015-07-16 18:36] hoanhtien commented on #295
@kidddddd1984 Did you get the plug-in from GitHub or from PackageControl?

[2015-07-16 22:45] billti commented on #225
Note also that 'interface' is a valid member name inside a class declaration, so it shouldn't be colorized as a keyword in that location anyway.

[2015-07-16 22:49] billti commented on #227
Actually this should be a pretty easy fix and seems useful. Rules to recognize comments and string literals should be early in the syntax and always be highlighted as such in most cases.

[2015-07-16 23:11] hoanhtien commented on #295
@kidddddd1984 This problem no longer presents if I install Vintageous by cloning its GitHub master. I guess this commit fixes it: https://github.com/guillermooo/Vintageous/pull/975. I suggest you to do the same.

[2015-07-16 23:37] hoanhtien opened #296 "Notify user of TypeScript version mismatch"
After the plug-in is upgraded automatically by PackageControl, we should notify user to upgrade his/her global TypeScript compiler and server (the ones installed with npm) if he/she has not done so.

[2015-07-17 06:49] kidddddd1984 commented on #295
Yes, I installed from package control.

I will try to clone master branch and see it again.

[2015-07-17 10:32] kidddddd1984 commented on #295
@hoanhtien Yes! It's worked

[2015-07-17 10:32] #295 closed

[2015-07-20 16:31] kidddddd1984 opened #298 "sometime frozen when need a autocomplete"
![untitled](https://cloud.githubusercontent.com/assets/6410921/8780880/dbb389da-2f46-11e5-8dfe-ecebcd950efa.gif)

As you see, like another autocomplete window covered this one. this will take 3 or 4 seconds and lead sublime text to frozen.

also got `queue timeout` from console

![default](https://cloud.githubusercontent.com/assets/6410921/8781088/2391d1fc-2f48-11e5-9eeb-e1b6da887a08.png)

[2015-07-20 17:09] kidddddd1984 commented on #298
I delete all other plugins and got the same. means something else also trade .ts file as itself.

ST version: 3083

[2015-07-21 06:56] kidddddd1984 commented on #298
Also tested on windows8.1 and Ubuntu14.04. both have the same problem but on windows the covering is even too faster than this on Ubuntu and Mac so there are no `queue timeout` errors in the console.

[2015-07-21 07:57] hoanhtien commented on #298
@kidddddd1984 Could you send me a repro project?

[2015-07-21 09:47] corruptmem commented on #213
I'm also experiencing the same problem. I'll try to see if I can get more information about why.

[2015-07-21 12:10] kidddddd1984 commented on #298
@hoanhtien https://github.com/kidddddd1984/ts-test

maybe you can use this. I created this just want to test new import declarations in ts1.5 but got these problem.

[2015-07-21 17:16] LPGhatguy commented on #213
I'm actually experiencing this issue too, and my path to my entrypoint is `one/two/three/scripts/main.ts`, with my deepest paths being `one/two/three/scripts/Components/Core/component.ts`. I get intellisense just fine, and I only get import/export errors sometimes, and I can't seem to reproduce *when* that happens.

[2015-07-21 17:18] zhengbli commented on #213
The reason is that currently we don't have a file watcher for tsconfig.json, therefore you have to restart sublime to apply your changes

From: Lucien Greathouse <notifications@github.com>
Sent: Jul 21, 2015 10:16 AM
To: Microsoft/TypeScript-Sublime-Plugin
Cc: Zhengbo Li
Subject: Re: [TypeScript-Sublime-Plugin] Not detecting tsconfig.json (Sublime Text 3) (#213)

I'm actually experiencing this iss

[2015-07-21 17:20] LPGhatguy commented on #213
I just opened my project fresh today (I just got to work) and I'm getting the same errors on one of my files -- I haven't changed `tsconfig.json` in a week or so and I just opened Sublime Text fresh.

[2015-07-21 17:39] zhengbli commented on #213
Can you paste the content of your tsconfig.json file? Or do you see any error if you directly run ``tsc`` from the command line in the folder?

[2015-07-21 17:50] LPGhatguy commented on #213
I'm just using this file. I don't specify any files; is that a problem?

[code]

[2015-07-21 19:54] zhengbli commented on #213
@LPGhatguy When I run tsc directly from the commandline, I got the error: "error TS5023: Unknown compiler option 'detectGlobals'." It seems your tsconfig file is not valid

[2015-07-21 20:43] #293 closed

[2015-07-21 21:55] LPGhatguy commented on #213
That could be the issue; that was an option I was passing through to a gulp TypeScript transpilation plugin. I'll let you know if I see the issue again with that config.

[2015-07-21 22:51] hoanhtien commented on #298
The plugin waits for response from tsserver and then updates the auto completion popup. In my machine, I can only see a slight delay ~0.1 second or so. I will try to repro this issue on a slower machine.

[2015-07-22 01:27] hoanhtien commented on #298
I am not able to repro this issue on a virtual machine with Ubuntu 14.04.2 LTS, 4 CPUs and 4GB RAM.

[2015-07-22 02:09] kuon commented on #246
This is still happening all the time, only on typescript files.

[2015-07-22 05:06] kidddddd1984 commented on #298
@hoanhtien tried on a vm with Ubuntu 14.04.2 LTS. As you say, the delay is slightly like i did on windows8.1. So there should be something wrong with my dev environment on a unix-like system.

i will check it! thank you for you patient :+1:

[2015-07-22 07:50] zhengbli commented on #72
The feature is added in release 0.1.7

[2015-07-22 07:50] #72 closed

[2015-07-22 08:18] kidddddd1984 commented on #298
@hoanhtien
I think I found the point !

If you use a `tsconfig.json` file to configure project the complete speed will down and sometimes to frozen. It's only occurred on Mac and Ubuntu system.

You can repro this issue by create a new `f.ts` file in an opened tsconfiged project. You will see completion is faster when you typing something in new file, Then reopen the project, now the `f.ts` file b

[2015-07-22 18:29] chbrown opened #301 "Syntax specific settings from `TypeScript.sublime-settings` should override built-in `Preferences.sublime-settings`"
Context:

Sublime Text 3 build 3083, Mac OS X 10.9.5

1. Install `TypeScript-Sublime-Plugin` via Package Control or source
2. Open up a TypeScript file, ensure that TypeScript is the active syntax
3. Open `TypeScript.sublime-settings` by navigating the menu bar `Sublime Text` -> `Preferences` -> `Settings - More` -> `Syntax Specific - User`
4. Insert the following: `{ "typescript_auto_format": fal

[2015-07-22 22:02] hoanhtien commented on #301
@chbrown As a workaround, you can set your settings in `Package\User\Preferences.sublime-settings` file (`Menu` -> `Preferences` -> `Settings - User`).

[2015-07-23 00:45] chbrown commented on #301
Oh, cool, thanks @hoanhtien. Not the optimal solution, but certainly better than setting it in the package's `Preferences.sublime-settings`.

[2015-07-23 02:35] #296 closed

[2015-07-23 02:37] hoanhtien commented on #279
Readme updated. Closing this thread.

[2015-07-23 02:37] #279 closed

[2015-07-23 03:00] kidddddd1984 commented on #301
so why not move settings to a separate setting file just like other plugins did to keep `Preferences.sublime-settings` clearly :)

[2015-07-23 03:14] hoanhtien commented on #39
I'm thinking of implementing this feature. To find occurrences, are we planning to use `occurrences` command (looks costly) or we gonna keep it simple by using a regex match?

[2015-07-23 12:45] joneshf commented on #279
Awesome, thanks! I just have one suggestion. It'd be nice to see that information near the screenshot since the naming isn't uniform as to what it's called when searching text (intellisense, popup, completion, etc) so it might be hard to find out why it doesn't work when you need it to. Searching for the name was part of my problem originally.

I'll submit a PR with what I mean.

[2015-07-24 02:06] hoanhtien commented on #226
Updated #238 to fix `interface /*asdasd*/ A` as well.

[2015-07-24 04:34] danmane opened #309 "Copy+Paste broken for TS Files"
After installing this plugin, I find that paste is broken (only for Typescript files). Pressing cmd+v has no effect.  I see that the plugin has overwritten cmd+v to paste and format. It appears that this functionality is not working as intended.

[2015-07-24 04:37] danmane commented on #309
Actually, it may be that the typescript language services died entirely, which knocked out paste functionality as a side-effect.

[2015-07-24 05:29] kidddddd1984 commented on #298
@hoanhtien tried on someone else's mbp, it worked perfectly!  Close this issue

Thanks a lot

[2015-07-24 05:29] #298 closed

[2015-07-24 07:33] hoanhtien commented on #309
Doesn't work indeed, even on Windows. This is a bug.

[2015-07-24 19:01] hoanhtien commented on #309
@danmane The reason it does not work on Windows is because we overwrite Cmd+v and Windows does not have a Cmd key. It is a separate problem to what you are having (I assume you are using MAC).
[code]
We check on a MAC and Cmd+V works without problem. Could you confirm that typescript language service server is dead (symptoms: error messages on the Python console, auto-completion does not work, for

[2015-07-24 20:00] hoanhtien opened #310 "Key binding super + v does not work on Windows"
[code]
Found when investigating https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/309.

[2015-07-24 21:57] hoanhtien commented on #229
@dbaeumer @alexandrudima I am looking into this issue. I configure VSCode and Atom to use the grammar and they seem fine; neither editor hangs. How can I know if there is an endless loop?

[2015-07-24 22:13] hoanhtien commented on #274
I am able to config VSCode to use the latest grammar. The colorization looks good now :grinning:

![image](https://cloud.githubusercontent.com/assets/1707813/8885571/d4920312-3215-11e5-9bf5-29605757ccbd.png)

[2015-07-24 22:17] #136 closed

[2015-07-26 18:39] kuon commented on #246
I don't know where this is coming, but this is driving me crazy. As a workaround, can you add a setting to specify the format indentation? Instead of looking at the buffer current indentation settings, use the settings, like:

[code]

[2015-07-27 05:16] #275 closed

[2015-07-27 05:16] #227 closed

[2015-07-27 07:40] alexandrudima commented on #229
@hoanhtien We've since patched VSCode to identify and skip the line that enters the endless loop in this case. You can see something is wrong when opening a .ts file containing the text mentioned originally and pressing `F1` and choosing `Developer: Toggle Developer Tools`. You can then see the error the grammar interpreter prints:

`Skipping line because rule loops at column 22 of line '

[2015-07-27 18:48] hoanhtien commented on #246
@kuon Have you tried disabling `detect_indentation`?
[code]

[2015-07-27 19:35] hoanhtien commented on #229
This problem is fixed in https://github.com/Microsoft/TypeScript-Sublime-Plugin/pull/307 which was checked in to master earlier today. This pull request parses everything between quotes i.e `<a>{}</a>` as a string. As a result, {} will no longer be consumed by the method-declaration rule and that will avoid the endless loop.

Before:
![image](https://cloud.githubusercontent.com/assets/1707813/8915

[2015-07-27 22:14] #229 closed

[2015-07-27 23:23] hoanhtien commented on #285
To deal with cases like `foo<A>()`, we have the following rule "when an identifier followed by a less-than sign, parse it as a function name":

[code]

However this rule does not work with less-than conditions like `foo<A`, or `i<10` in the screenshot above.

I have not found a good way to address this problem. Any thought @billti @zhengbli?

[2015-07-28 06:47] alexandrudima commented on #229
@hoanhtien Great, thank you!

[2015-07-28 16:05] fongandrew opened #312 "TSX / TypeScriptReact commenting does not work"
Pressing `ctrl+/` does not comment out the highlighted block on .tsx files but does on .ts files.

[2015-07-28 19:11] RyanCavanaugh opened #313 "Colorization breaks when do-while and containing while both have less-thans"
[code]
![image](https://cloud.githubusercontent.com/assets/6685088/8940960/b9624db8-3521-11e5-83d8-b5e2b4775127.png)

![image](https://cloud.githubusercontent.com/assets/6685088/8940972/c15b1702-3521-11e5-9c1f-cf2e77c8b558.png)

[2015-07-28 19:34] hoanhtien commented on #313
@RyanCavanaugh This is probably a dupe of https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/265 which was fixed in v0.1.6. Can you upgrade your plugin and try again?

[2015-07-28 20:27] #226 closed

[2015-07-28 21:01] #313 closed

[2015-07-29 09:32] kuon commented on #246
I tried in my typescript syntax setting file (it is already in my global config file as default):

[code]

Doesn't help.

[2015-07-30 01:11] danmane commented on #309
@hoanhtien I can confirm that when it stopped working for me, it was because the Typescript server was dead. I was using sublime tunneling over SSH to modify a typescript project on a remote server, and the connection was flaky.

Closing the issue.

[2015-07-30 01:11] #309 closed

[2015-07-30 23:03] billti commented on #285
Hmmm, that's a tricky one, especially as the right-hand side might be a function call, and you could have a > operator also, e.g.

[code]

I generally don't like the idea of using the whitespace as an indicator, but not sure what the most practical solution is here. What kind of flexibility is there in the syntax files for lookahead, capture groups, etc... (i.e. matching pairs of tokens before a "

[2015-07-31 17:46] zhengbli commented on #285
I might try:
1. make a pattern "LessThanSignOrGenerics" that matches all less than signs;
2. make two sub-patterns
- "Generics" that uses non-capturing groups in the begin pattern to find the larger than sign;
- "LessThan" that matches the rest situations
3. Include the two sub-patterns in the "LessThanSignOrGenerics" pattern

This is just a rough idea though. AFAIK tmlanguage only provides lookah

[2015-07-31 19:08] hoanhtien commented on #285
@zhengbli How about the identifier that comes before a less-than sign? We have to capture it as either function name or leave it uncaptured so it can be colorized correctly.

[2015-07-31 20:05] LPGhatguy opened #317 "Poor performance without 'noParse' field in tsconfig.json"
I'm running the Sublime Text 3 build 3083, latest stable, and I started getting extreme performance issues using this plugin.

When I have no `tsconfig.json` file, it looks like this plugin tries to parse all of my dependencies every time I type a semicolon, which stalls the entire text buffer. Adding a `noParse` entry to a `tsconfig.json` file fixes this issue, and changes nothing about the resul

[2015-07-31 20:33] hoanhtien commented on #317
@LPGhatguy Could you provide the following information to help us reproduce this issue:
- Could you send us a repro file/project?
- Do you have other plugins installed?
- Do you see any error printed in the Sublime console (before and after typing a semicolon)?
- Do you install the plugin via package control (latest version is v0.1.7) or download it from Github?
- Are you on a PC or a Mac? How fas

[2015-08-02 10:06] trymnilsen commented on #234
Check out the DocBlockr package https://packagecontrol.io/packages/DocBlockr, it works for Typescript as well for the most part. It does not work for classes/interfaces, but i have found it quite useful for creating comments for functions. Give it a try until this issue is resolved.

![image](https://cloud.githubusercontent.com/assets/1550685/9025668/8444f8ec-390e-11e5-94a7-cdc4328acc5d.png)

![im

[2015-08-02 12:22] ghost23 opened #319 "Build command different, when focus is in different .ts files"
Hi,

i have this little project:

![image](https://cloud.githubusercontent.com/assets/1169512/9026070/24ff442e-3921-11e5-8b74-4d12bde90690.png)

In the tsconfig, it says:

[code]

If I have the focus in the main.ts, I can simply hit F7 and the build runs just fine. If I am in the index.ts however, first a little build parameters dialog comes up at the bottom of the screen, and if I just hit enter,

[2015-08-02 17:41] LennardF1989 opened #320 "TypeScript not detecting new files"
I'm using Sublime build 3095 with the latest Package Control installed TypeScript support. The issue I have right now is that every time I rename a file or add a new one, I have to restart Sublime before the Intellisense updates, or can even hit Ctrl+B to compile the project (unless I switch to a file that already existed at the time I started Sublime).

I can live with it, but its rather annoying

[2015-08-02 21:26] LennardF1989 commented on #320
Is it an idea that while we wait for Sublime to provide proper hooks, to have a shortcut to force a resync of the tsserver?

[2015-08-02 21:47] LennardF1989 opened #321 "formatCodeOptions not respected"
I added the following to my tsconfig.json

    "formatCodeOptions": {
        "placeOpenBraceOnNewLineForFunctions": true,
        "placeOpenBraceOnNewLineForControlBlocks": true
    }

Looking in the tsserver.js that comes with the plugin, I see the compiler attempts to read these settings from somewhere (I assume its the tsconfig.json), however, it's simply not working. If also played with the c

[2015-08-02 21:51] LPGhatguy commented on #317
It's on my work system and I'm at home,  but here's some partial information:

- It's a 2012 iMac running the latest version of OS X
- The package was installed via Package Control
- No other plugins installed

I didn't check for errors in the console, but I can when I get in on Monday.

The bare minimum project I got the error occurring on had:
- a `package.json` with dependencies on jQuery, Hand

[2015-08-03 07:49] dbaeumer opened #322 "TypeScript syntax highlighting problem when putting curly braces in new lines."
Copied from https://code.visualstudio.com/Issues/Detail/18184

There's a problem with TypeScript syntax highlighting when putting methods' curly braces in new lines. Keywords like public, this or even argument types are not being highlighted, they're just plain gray. The problem is not occuring when I put curly braces in the same lines as method declarations.
![screenshot from 2015-07-26 18_44_19]

[2015-08-03 07:50] dbaeumer commented on #322
Observe if you put the curly from line 11 to 10 then the function on line 16 is colored correctly.

[2015-08-03 18:09] LPGhatguy commented on #317
I checked this morning and there are no errors, but I do see
[code]

every time I insert a semicolon with several libraries as dependencies.

[2015-08-03 19:15] hoanhtien commented on #319
@ghost23 Are you still getting this error after restarting Sublime? After making changes to tsconfig.json, Sublime should be restarted for the changes to take effect.

I am seeing the same error when focus is on either file:
[code]

[2015-08-03 19:34] hoanhtien commented on #321
@LennardF1989 The plugin should include these settings in the 'configure' request sent to tsserver. Unfortunately we have not implemented that. A work around you can do is to go to `/typescript/libs/editor_client.py` file, add a couple of lines as follows and restart Sublime:

[code]

[2015-08-03 19:44] ghost23 commented on #319
huh,
I thought I did that, apparently not. It is working now on both files. I don't quite understand, why you are getting the error, though, because it compiles just fine on my end.

Thanks anyway :)

[2015-08-03 19:44] #319 closed

[2015-08-03 21:03] hoanhtien commented on #320
@LennardF1989 The 'files' property in tsconfig.json can be skipped:

(from https://github.com/Microsoft/TypeScript/wiki/tsconfig.json)

IMO, it is better not to include the 'files' property in tsconfig.json so you don't have to edit tsconfig.json every time your add or rename a file and restart Sublime for the changes to take effect.

[2015-08-03 21:34] LennardF1989 commented on #320
Well, I don't have a files property and still have to restart the editor all the time. But isn't that what point #3 in the FAQ covers?

[2015-08-03 21:35] LennardF1989 commented on #321
Works for me, thanks!

[2015-08-03 23:28] hoanhtien commented on #320
@LennardF1989 What this point wants to say is: Whenever you edit tsconfig.json, you have to restart tsconfig.json for the changes to take effect.

From what you describes, this is probably a bug. Could you send us a repo project and/or some screenshots to investigate?

[2015-08-04 20:44] hoanhtien commented on #322
This is fixed in v0.1.7:

Before:
![image](https://cloud.githubusercontent.com/assets/1707813/9072181/9080ec6e-3aae-11e5-8fb0-6a492c4f33ef.png)

Now:
![image](https://cloud.githubusercontent.com/assets/1707813/9072189/97a676da-3aae-11e5-9148-33203cce7322.png)

[2015-08-05 07:44] LennardF1989 commented on #320
Where would you like screenshots of, I unfortunately can't share this project. I'm using Sublime build 3095 with the latest Package Control installed TypeScript support on Windows 7.

My tsconfig.json looks as follows:

    {
        "compilerOptions": {
            "out": "js/program.js",
            "sourceMap": true
        }
    }

The file resides in the root of the project where all typescri

[2015-08-05 08:01] LennardF1989 commented on #320
Ok! Did some more testing, it's related to using sub-namespaces! eg. My main namespace/module is SublimeTest, whenever I also have a SublimeTest.SubTest namepace (living in its own subfolder) in which I export classes, above behavior kicks in when I add files to it and try to compile them!

Here is the project-folder: https://dl.dropboxusercontent.com/u/4832900/SublimeTest.zip

When you add a file

[2015-08-05 13:07] nikolaymatrosov opened #323 "There is no intellisence in TypeScriptReact syntax."
TSX files have only dumb type suggest based on words in the file. No Typechecking, Signature popup or other intelligent features.

[2015-08-05 18:25] hoanhtien commented on #323
You can check out this pull request https://github.com/Microsoft/TypeScript-Sublime-Plugin/pull/290. The latest public release of TypeScript (v.1.5.3) has not included supports for TSX so we haven't merged this pull request to master.

[2015-08-06 05:41] nikolaymatrosov commented on #323
Thanks. I'll watch for updates.

[2015-08-06 21:50] wwwsevolod commented on #255
would be very helpful, trying to migrate back to sublime, and found that out, atom's typescript package is already able to do it (or may be they just using bleeding edge typescript like i do?).

current work around to some people is to delete files in this package on local computer and create symlink to your global files (works for me).

[2015-08-06 22:07] #322 closed

[2015-08-06 22:08] #323 closed

[2015-08-07 00:35] hoanhtien commented on #320
Thanks! I can repro now. This is indeed a bug.

[2015-08-07 21:57] hoanhtien commented on #320
This is a TypeScript compiler/language service issue. Basically tsserver does not know when a new file is added. Two approaches that can be done:
1. Add a 'add' command to notify tsserver when a new file is added. Sublime does not provide a 'new file added' event; but it does provide 'new view' and 'view pre save' that may can be used to detect when a new file is added.
2. Add a directory watcher.

[2015-08-07 23:43] hoanhtien opened #324 ""Notify user of TypeScript version mismatch" not working as expected"
https://github.com/Microsoft/TypeScript-Sublime-Plugin/issues/296 not working as expected on Ubuntu 14.04.3. LTS:

Error:
[code]

[2015-08-15 07:29] LPGhatguy commented on #317
I'm getting this same issue on my Windows 10 system at home, also with a bare minimum project. This project has the structure:

- src
  - client
    - main.ts
    - ModuleA.ts
  - server
    - main.ts
    - ModuleB.ts
- tsconfig.json

Where my tsconfig.json is just:
[code]

[2015-08-16 18:36] LPGhatguy commented on #317
This problem has gotten to the point where it's causing my editor to hang indefinitely when adding imports to a file. The editor resumes operation when I kill my Node executable.

As a sidenote, this is using io.js 3.0, @hoanhtien

[2015-08-17 22:52] zhengbli commented on #317
Is it possible you can put out the small project somewhere that we can test on it? io.js might be the problem as we've been testing on node only. And judging from the error log, it keeps trying to config the formatting options, which happened before when people are using the 'vintage' mode. Are you using it by any chance? Thanks

[2015-08-17 23:55] LPGhatguy commented on #317
@zhengbli, I'm not using vintage mode on either of the machines I experienced slowdowns on.

The real-world project I hit the issue on most recently is [here](https://github.com/Gecko-FOSS/basis). It's not *completely* boiled down, but I hit the issues in both source files within `src/server`.

[2015-08-18 22:44] billti commented on #317
We had some perf issues with the module resolution logic. We just implemented a change on the TypeScript side to improve this significantly (see https://github.com/Microsoft/TypeScript/pull/4154 ). This will be in the TypeScript 1.6 release (or you could build TypeScript from master and take the tsserver.js from their to dogfood it now).

[2015-08-19 00:41] #292 closed

[2015-08-19 00:46] zhengbli commented on #228
This should be fixed by #239 already.

[2015-08-19 00:46] #228 closed

[2015-08-19 07:01] paulvanbladel opened #326 "What would be the effort needed for having type completion in html files."
I understand that this question is related to specific frameworks used in the editor in conjunction with typescript (e.g. angular2, aurelia, ...)
So, let's focus on a case where a viewModel (a .ts) goes together with a view (a .html).
the viewModel is a typescript class and contains a definition for 'Customer' having firstName and lastName props.
When creating the view, I would like to have type c

[2015-08-19 18:28] kungfusheep opened #327 "Offer completion on non-imported items."
So essentially an 'auto import' feature for classes within modules/namespaces that are accessible in the current context.

This would be a massive time saver.  I realize there are multiple ways to do `import`'s now, but the type of import could be inferred from the `module` type in tsconfig.

Cheers

[2015-08-19 19:03] DanielRosenwasser commented on #327
Do you mean something like C#'s "add references"? Or do you mean like completion in the following scenario?

[code]

[2015-08-19 20:53] kungfusheep commented on #327
Sorry, I could've been more specific.

What I mean is, say I have this class in `MyClass.ts`
[code]

Then in `MyOtherClass.ts` I can begin writing this line...
[code]

Upon hitting enter, an import statement (based on the current module type) would be inserted to the top of the module like so...

[code]

It seems to me that sublime is all about speed and simplicity. Having to move to the top of th

[2015-08-20 01:14] DanielRosenwasser commented on #327
Closing in favor of https://github.com/Microsoft/TypeScript/issues/4370. Thanks for the suggestion.

[2015-08-20 01:14] #327 closed

[2015-08-20 06:05] mhegazy commented on #326
I do not see any technical or architectural blockers. there are a lot of missing pieces that will need to be able to do that. first you will need the plugin to register for html, then we will need at least an html parser, then a way to connect an html file to a ts/js file based on the framework conventions and semantics, then all needed is to query the properties of an exported entity from the ts/

[2015-08-20 06:16] paulvanbladel commented on #326
Thanks for the prompt reply.
So good to hear that from technical perspective there are not real constraints.
May I ask an additional question regarding the architecture of sublime text plugins. (I'm not hindered by too much knowledge about subl. plugins)
Would there be a feasible way to implement this functionality for multiple SPA frameworks in such a way that no parallel versions of the plugin a